@model AHM_TOTAL_TRAVEL_WEB.Models.ScreenPermissionsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <br>
    <div class="ui top attached tabular menu" id="menu_Indexs">
        <a class="item active" data-target="#frmPantallas">Pantallas</a>
        <a class="item" data-target="#frmModulos">Modulos</a>
        <a class="item" data-target="#frmGruposMenu">Grupos de menu</a>
    </div>
    <div class="ui bottom attached segment">

        <div class="container" id="frmPantallas">
            <div class="ui basic segment">

                <div class="ui icon attached message">
                    <i class="icon clock"></i>
                    <div class="content">
                        <div class="header">
                            Pantallas
                        </div>
                    </div>
                </div>

                <br>
                <div class="ui grid mb-3">
                    <div class="eight wide column">
                        <a class="ui small btn-purple text-white labeled icon button" id="btnCreateScreen">
                            <i class="plus icon"></i> Nuevo
                        </a>
                    </div>
                </div>
                <table id="grdScreens" class="display ui compact selectable celled table" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Nombre de pantalla</th>
                            <th>Categoria de pantalla</th>
                            <th>Modulo</th>
                            <th>URL de pantalla</th>
                            <th width="200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Permisos)
                        {
                            string tipoPantalla = "";
                            if (item.EsDashboard == true)
                            {
                                tipoPantalla = "Dashboard";
                            }
                            else if (item.EsVisible == true)
                            {
                                tipoPantalla = "Pagina principal";
                            }
                            else
                            {
                                tipoPantalla = "Pagina secundaria";
                            }
                            <tr>
                                <td>@item.Descripcion</td>
                                <td>@tipoPantalla</td>
                                <td>@item.modulo</td>
                                <td>@($"/{item.Controlador}/{item.Action}")</td>

                                <td>
                                    <button class="ui large icon btn-edit button" onclick="editScreen('@item.ID')">
                                        <i class="pencil alternate icon icon-crud"></i>
                                    </button>
                                    <button class="ui large icon negative button" onclick="deleteScreen('@item.ID')">
                                        <i class="trash alternate icon icon-crud"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br>

            </div>
        </div>

        <div class="container" id="frmModulos">
            <div class="ui basic segment">

                <div class="ui icon attached message">
                    <i class="icon clock"></i>
                    <div class="content">
                        <div class="header">
                            Modulos
                        </div>
                    </div>
                </div>

                <br>
                <div class="ui grid mb-3">
                    <div class="eight wide column">
                        <a class="ui small btn-purple text-white labeled icon button" id="btnCreateModule">
                            <i class="plus icon"></i> Nuevo
                        </a>
                    </div>
                </div>
                <table id="grdModulos" class="display ui compact selectable celled table" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                Nombre de Modulo
                            </th>
                            <th width="200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Modulos)
                        {
                            <tr>
                                <td>
                                    @item.modulo
                                </td>
                                <td>
                                    <button class="ui large icon btn-edit button" onclick="editModule('@item.id_modulo')">
                                        <i class="pencil alternate icon icon-crud"></i>
                                    </button>
                                    <button class="ui large icon negative button" onclick="deleteModule('@item.id_modulo')">
                                        <i class="trash alternate icon icon-crud"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br>

            </div>
        </div>

        <div class="container" id="frmGruposMenu">
            <div class="ui basic segment">

                <div class="ui icon attached message">
                    <i class="icon clock"></i>
                    <div class="content">
                        <div class="header">
                            Grupos de menu
                        </div>
                    </div>
                </div>

                <br>
                <div class="ui grid mb-3">
                    <div class="eight wide column">
                        <a class="ui small btn-purple text-white labeled icon button" id="btnCreateGroup">
                            <i class="plus icon"></i> Nuevo
                        </a>
                    </div>
                </div>
                <table id="grdModulos" class="display ui compact selectable celled table" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                Nombre de Grupos de menu
                            </th>
                            <th width="200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.items)
                        {
                            <tr>
                                <td>
                                    @item.nombre_grupo
                                </td>
                                <td>
                                    <button class="ui large icon btn-edit button" onclick="editGroup('@item.ID')">
                                        <i class="pencil alternate icon icon-crud"></i>
                                    </button>
                                    <button class="ui large icon negative button" onclick="deleteGroup('@item.ID')">
                                        <i class="trash alternate icon icon-crud"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br>

            </div>
        </div>

    </div>
    <br>
</div>

<!--------------------------- MODALES PANTALLAS --------------------------------->
<!-- MODAL CREATE SCREEN -->
<div class="ui modal" id="mdlCreateScreen">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una pantalla
    </div>
    <div class="ui form attached fluid segment" id="frmCreateScreen">
        <div class="content">
            <div class="three fields">
                <div class="required field">
                    <label class="ui label">Nombre visible de pantalla</label>
                    <input id="txtDescripcion" placeholder="Nombre de pantalla" />
                </div>
                <div class="required field">
                    <label class="ui label">Controlador (Solo nombre)</label>
                    <input id="txtController" placeholder="'CountriesController' pasar a 'Countries'" />
                </div>
                <div class="required field">
                    <label class="ui label">Endpoint/accion</label>
                    <input id="txtAction" placeholder="Nombre de Endpoint/accion" />
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <label class="ui label">Modulo de pantalla</label>
                    <select id="cbbModulo" class="ui dropdown search" asp-items="ViewBag.modulos">
                        <option value="" selected disabled>Seleccione un modulo de pantalla</option>
                    </select>
                </div>
                <div class="field">
                    <label class="ui label">Aspectos visibles</label>
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="chkVisible">
                                <label>Pantalla visible al cliente en el menu?</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="chkDashboard">
                                <label>Marcar pantalla como dashboard</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui button" onclick="createScreen()">Guardar</button>
        <button class="ui deny button">Cerrar</button>
    </div>

</div>

<!-- MODAL UPDATE -->
<div class="ui modal" id="mdlUpdateScreen">
    <i class="close icon"></i>
    <div class="header">
        Actualiza una pantalla
    </div>
    <div class="ui form attached fluid segment" id="frmUpdateScreen">
        <div class="content">
            <div class="three fields">
                <div class="required field">
                    <input name="Perm_ID" id="Perm_ID" />
                    <label class="ui label">Nombre visible de pantalla</label>
                    <input id="txtDescripcionUpdate" placeholder="Nombre de pantalla" />
                </div>
                <div class="required field">
                    <label class="ui label">Controlador (Solo nombre)</label>
                    <input id="txtControllerUpdate" placeholder="'CountriesController' pasar a 'Countries'" />
                </div>
                <div class="required field">
                    <label class="ui label">Endpoint/accion</label>
                    <input id="txtActionUpdate" placeholder="Nombre de Endpoint/accion" />
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <label class="ui label">Modulo de pantalla</label>
                    <select id="cbbModuloUpdate" class="ui dropdown search" asp-items="ViewBag.modulos">
                        <option value="" selected disabled>Seleccione un modulo de pantalla</option>
                    </select>
                </div>
                <div class="field">
                    <label class="ui label">Añadir a un grupo de menu?</label>
                    <select id="cbbGrupo" class="ui dropdown search" asp-items="ViewBag.items">
                        <option value="" selected disabled>Seleccione un grupo a anidar</option>
                        <option value="0">SIN GRUPO</option>
                    </select>
                </div>
            </div>

            <div class="sixteen wide field">
                <label class="ui label">Aspectos visibles</label>
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="checkVisible">
                            <label>Pantalla visible al cliente en el menu?</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="checkDashboard">
                            <label>Marcar pantalla como dashboard</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <button class="ui button btn-edit text-white" onclick="updateScreen()">Guardar</button>
        <button class="ui deny button">Cancelar</button>
    </div>

</div>


<!--------------------------- MODALES MODULOS --------------------------------------->
<!-- MODAL CREATE -->
<div class="ui modal" id="mdlCreateModules">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un módulo
    </div>
    <div class="ui form attached fluid segment" id="frmCreateModules">
        <div class="content">
            <div class="required field">
                <label class="ui label">Nombre del módulo</label>
                <input id="txtModulo" placeholder="Nombre del módulo" />
            </div>

        </div>
    </div>
    <div class="actions">
        <button class="ui button btn-edit text-white" onclick="createModule()">Guardar</button>
        <button class="ui deny button">Cerrar</button>
    </div>

</div>

<!-- MODAL UPDATE -->
<div class="ui modal" id="mdlUpdateModules">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un módulo
    </div>
    <div class="ui form attached fluid segment" id="frmUpdateModules">
        <div class="content">
            <div class="required field">
                <label class="ui label">Nombre del módulo</label>
                <input id="Modu_Id" />
                <input id="txtModuloUpdate" placeholder="Nombre del módulo" />
            </div>

        </div>
    </div>
    <div class="actions">
        <button class="ui button btn-edit text-white" onclick="updateModule()">Guardar</button>
        <button class="ui deny button">Cerrar</button>
    </div>

</div>

<!--------------------------- MODALES GRUPOS --------------------------------------->
<!-- MODAL CREATE -->
<div class="ui modal" id="mdlCreateGroups">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un módulo
    </div>
    <div class="ui form attached fluid segment" id="frmCreateModules">
        <div class="content">
            <div class="required field">
                <label class="ui label">Nombre del módulo</label>
                <input id="txtNombreGrupo" placeholder="Nombre del grupo" />
            </div>

        </div>
    </div>
    <div class="actions">
        <button class="ui button btn-edit text-white" onclick="createGroup()">Guardar</button>
        <button class="ui deny button">Cerrar</button>
    </div>

</div>

<!-- MODAL UPDATE -->
<div class="ui modal" id="mdlUpdateGroups">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un módulo
    </div>
    <div class="ui form attached fluid segment" id="frmCreateModules">
        <div class="content">
            <input id="txtGrupo_Id" />
            <div class="required field">
                <label class="ui label">Nombre del módulo</label>
                <input id="txtNombreGrupo" placeholder="Nombre del grupo" />
            </div>

        </div>
    </div>
    <div class="actions">
        <button class="ui button btn-edit text-white" onclick="updateGroup()">Guardar</button>
        <button class="ui deny button">Cerrar</button>
    </div>

</div>

@section Scripts{
    <script src="~/js/Screens/Index.js"></script>
}