@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@inject IViewLocalizer Localizer;
@{
    string usersRole =  Context.Session.GetString("Role");
}
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agencia Total Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/css/ErrorPage.css">
    <link rel="stylesheet" type="text/css" href="~/css/TableStyles.css" />

    <!-- Frameworks alerts -->
    <link rel="stylesheet" href="~/assets/css/iziToast.min.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <!-- icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--js-library css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <!-- Frameworks -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css">

    <style>
        .sidebar-link {
            font-size: 1.3em !important;
        }

        .ui.modal {
            left: auto !important;
            top: auto !important;
            height: auto !important;
            overflow-x: unset !important;
        }


        #btnLogOut {
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem 2rem;
            display: inline-block;
            border-radius: 0.5rem;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            position: relative;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            background-color: #652D90;
        }

            #btnLogOut:hover {
                -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
                -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                background-color: #652D90;
            }

                #btnLogOut:hover::after {
                    -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                    background-color: #652D90;
                }

        .btn-edit {
            background-color: #A97BC4 !important;
            color: white;
        }

        .btn-delete {
            background-color: #cd0c36 !important;
            color: white;
        }

        .icon-crud {
            color: white;
        }

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        #loaderAnimation {
            background-color: rgba(25,25,25,0.7);
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            margin-top: 0;
            top: 0;
            left: 0px;
            text-align: center;
        }

            #loaderAnimation img {
                width: 100px;
                height: 100px;
                position: relative;
                margin-top: -50px;
                margin-left: -50px;
                top: 50%;
            }
    </style>
    @RenderSection("HeadLinks", required: false)
    @RenderSection("CSS", required: false)

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header z-index-50">
            <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
                <!-- Search Box-->
                <div class="search-box shadow-sm">
                    <button class="dismiss d-flex align-items-center">
                        <svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#close-1"> </use>
                        </svg>
                    </button>
                    <form id="searchForm" action="#" role="search">
                        <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                    </form>
                </div>
                <div class="container-fluid w-100">
                    <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand -->
                            <a class="navbar-brand d-none d-sm-inline-block" href="@Url.Action("Index","Home")">
                                <div class="brand-text d-none d-lg-inline-block img-fluid"><img src="~/assets/img/logo-AHM-Fondo-Morao.png" width="45px" height="45px" alt="imagen de logo"><span>Total</span><strong>Travel</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong><img src="~/assets/img/logo-AHM-Fondo-Morao.png" width="45px" height="45px" alt="imagen de logo"></strong></div>
                            </a>
                            <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn" onclick="sideBarState()" href="#"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center"
                            style="
                            display: flex;
                            justify-content: space-between;
                            align-content: space-around;">
                            <li id="search" class="nav-item d-flex align-items-center">

                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("LogOut","Access")" style="background-color: #652D90;" id="btnLogOut">
                                    <i class="power off icon"></i>
                                    <span class="d-none d-sm-inline">Cerrar Sesión</span>
                                </a>
                            </li>
                            <li class="nav-item" style="
                                display: flex;
                                justify-content: space-between;
                                align-content: space-around;">

                                <!-- GTranslate: https://gtranslate.io/ -->
                                <a href="#" onclick="doGTranslate('es|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px; margin-top:15px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a>
                                <p style="
                                   display: flex;
                                   margin-top: 15px;
                                   align-content: center;
                                   align-items: center;
                                   margin-left: 11px;
                                   margin-right: 11px;"> | </p>
                                <a href="#" onclick="doGTranslate('es|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px; margin-top:15px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center py-4 px-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" id="popButton">
                        <img class="avatar shadow-0 img-fluid rounded-circle" style="margin-right: 11px;margin-left: 25%;" src="@Context.Session.GetString("ImgUrl")" alt="..." id="user_image">
                        <div class="ms-3 title">
                            <a class="d-none d-md-block dropdown-toggle h4 mb-2 text-capitalize" style="color: black; text-decoration: inherit;">
                                @Context.Session.GetString("Name")
                            </a>
                        </div>
                    </a>
                    @{
                        if (usersRole == "Administrador")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                    <a class="item" id="comprasb" asp-area="" asp-controller="PayHistory" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Historial de compras</span>
                                    </a>
                                    <a class="item" id="Hisotial" asp-area="" asp-controller="RegistrationPayments" asp-action="IndexHistory">
                                        <i class="bi bi-person"></i>
                                        <span>Historial de transacciones</span>
                                    </a>
                                    <a class="item" id="Hisotial" asp-area="" asp-controller="Timeline" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Calendario de reservaciones</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Cliente")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                    <a class="item" id="comprasb" asp-area="" asp-controller="PayHistory" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Historial de compras</span>
                                    </a>
                                    <a class="item" id="Hisotial" asp-area="" asp-controller="RegistrationPayments" asp-action="IndexHistory">
                                        <i class="bi bi-person"></i>
                                        <span>Historial de transacciones</span>
                                    </a>
                                    <a class="item" id="Hisotial" asp-area="" asp-controller="Timeline" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Calendario de reservaciones</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Moderador de Hotel")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Moderador de Transporte")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Moderador de Agencia Turistica")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Moderador de Restaurante")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </div>
                            </div>
                        }
                        if (usersRole == "Moderador de Actividades")
                        {
                            <div class="ui popup right center transition hidden" style="inset: 563.969px auto auto 1px; width: 670px;" id="popContent">
                                <div class="ui vertical menu">
                                    <a class="item" id="Cuenta" asp-area="" asp-controller="Account" asp-action="Index">
                                        <i class="bi bi-person"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </div>
                            </div>
                        }

                    }

                    <!-- End Profile Image Icon -->
                </div>
                @{
                    if (usersRole == "Administrador")
                    {
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            General
                        </span>

                        <ul class="list-unstyled py-4">
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="@Url.Action("adminDashboard","Home")">
                                    Inicio
                                </a>
                            </li>
                        </ul>

                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            Admin
                        </span>
                        <ul class="list-unstyled py-4">

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="AccessModule" href="#Access_Schema" data-bs-toggle="collapse" data-toggle="collapse">
                                    Módulo de Acceso
                                </a>
                                <ul class="collapse list-unstyled" id="Access_Schema">
                                    <li> <a id="UsersTile" class="sidebar-link" href="@Url.Action("Index","Users")">Usuarios</a></li>
                                    <li><a id="RestrictionsTile" class="sidebar-link" href="@Url.Action("Index","Restrictions")">Restricciones</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="ReportModule" href="#Report_Schema" data-bs-toggle="collapse" data-toggle="collapse">
                                    Módulo de Reportes
                                </a>
                                <ul class="collapse list-unstyled" id="Report_Schema">
                                    <li> <a id="ReportTile" class="sidebar-link" href="@Url.Action("TransportReport","Report")">Transportes</a></li>
                                    <li> <a id="HotelReportTile" class="sidebar-link" href="@Url.Action("HotelesReport","Report")">Hoteles</a></li>
                                    <li> <a id="RestaurantReportTile" class="sidebar-link" href="@Url.Action("RestauranteReport","Report")"> Restaurantes</a></li>
                                    <li> <a id="ClientReportTile" class="sidebar-link" href="@Url.Action("ClientReport","Report")">Usuarios</a></li>
                                    <li> <a id="ClientsReportTile" class="sidebar-link" href="@Url.Action("ClientsReport","Report")">Clientes</a></li>
                                    <li> <a id="ReservationReportTile" class="sidebar-link" href="@Url.Action("ReservacionesReport","Report")">Reservaciones</a></li>
                                    <li> <a id="ReporstTile" class="sidebar-link" href="@Url.Action("RecordPaymentReport","Report")">Registros Pagos</a></li>
                                    <li> <a id="ReporTile" class="sidebar-link" href="@Url.Action("DefaultPackagesReport","Report")">Paquetes Predeterminados</a></li>
                                    @*<li> <a id="DasboharTile" class="sidebar-link" href="@Url.Action("Index","DashBoardHotelHome")">DashBoard Modulo Hoteles</a></li>*@

                                </ul>
                            </li>


                            <li class="sidebar-item">
                                <a class="sidebar-link" id="GeneralModule" href="#General_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo General
                                </a>
                                <ul class="collapse list-unstyled" id="General_Schema">
                                    <li><a id="CountriesTile" class="sidebar-link" href="@Url.Action("Index","Countries")">Países</a></li>
                                    <li><a id="CitiesTile" class="sidebar-link" href="@Url.Action("Index","City")">Ciudades</a></li>
                                    <li><a id="SuburbsTile" class="sidebar-link" href="@Url.Action("Index","Suburbs")">Colonias</a></li>
                                    <li><a id="AddressTile" class="sidebar-link" href="@Url.Action("Index","Address")">Direcciones</a></li>
                                    <li><a id="PartnersTile" class="sidebar-link" href="@Url.Action("Index","Partners")">Socios</a></li>
                                    <li><a id="TypePartnersTile" class="sidebar-link" href="@Url.Action("Index","PartnerType")">Tipos de Socios</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="RestaurantModule" href="#Restaurant_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Restaurantes
                                </a>
                                <ul class="collapse list-unstyled" id="Restaurant_Schema">
                                    <li><a id="RestaurantsTile" class="sidebar-link" href="@Url.Action("Index","Restaurant")">Restaurantes</a></li>
                                    <li><a id="MenusTile" class="sidebar-link" href="@Url.Action("Index","Menus")">Menús</a></li>
                                    <li><a id="TypeMenusTile" class="sidebar-link" href="@Url.Action("Index","TypeMenus")">Tipos de Menús</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="TransportModule" href="#Transport_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Transportes
                                </a>
                                <ul class="collapse list-unstyled" id="Transport_Schema">
                                    <li><a id="TransportDetailsTile" class="sidebar-link" href="@Url.Action("Index","TransportDetails")">Detalles Transportes</a></li>
                                    <li><a id="TransportTile" class="sidebar-link" href="@Url.Action("Index","Transport")">Transportes</a></li>
                                    <li><a id="DestinationsTransportationsTile" class="sidebar-link" href="@Url.Action("Index","DestinationsTransportations")">Destinos Transportes</a></li>
                                    <li><a id="ScheduleTransportationTile" class="sidebar-link" href="@Url.Action("Index","ScheduleTransportation")">Horarios Transporte</a></li>
                                    <li><a id="TypesTransportTile" class="sidebar-link" href="@Url.Action("Index","TypesTransport")">Tipos de Transportes</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="ActivitiesModule" href="#Activity_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Actividades
                                </a>
                                <ul class="collapse list-unstyled" id="Activity_Schema">
                                    <li><a id="ActivitiesTile" class="sidebar-link" href="@Url.Action("Index","Activities")">Actividades</a></li>
                                    <li><a id="ActivitiesExtraTile" class="sidebar-link" href="@Url.Action("Index","ActivitiesExtra")">Actividades Extra</a></li>
                                    <li><a id="TypeActivitiesTile" class="sidebar-link" href="@Url.Action("Index","TypesActivities")">Tipos de Actividades</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="HotelModule" href="#Hotels_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Hoteles
                                </a>
                                <ul class="collapse list-unstyled" id="Hotels_Schema">
                                    <li><a id="HotelsTile" class="sidebar-link" href="@Url.Action("Index","Hotel")">Hoteles</a></li>
                                    <li><a id="RoomsTile" class="sidebar-link" href="@Url.Action("Index","Rooms")">Habitaciones</a></li>
                                    <li><a id="HotelsMenuTile" class="sidebar-link" href="@Url.Action("Index","HotelsMenu")">Menú de Hoteles</a></li>
                                    <li><a id="HotelsActivitiesTile" class="sidebar-link" href="@Url.Action("Index","HotelsActivities")">Actividades de Hoteles</a></li>
                                    <li><a id="CategoriesRoomsTile" class="sidebar-link" href="@Url.Action("Index","CategoriesRooms")">Categorías de Habitaciones</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="SalesModule" href="#Sale_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Ventas
                                </a>
                                <ul class="collapse list-unstyled" id="Sale_Schema">
                                    <li><a id="RoomsPackageTile" class="sidebar-link" href="@Url.Action("Index","RoomsPackage")">Paquetes Habitaciones</a></li>
                                    <li><a id="DefaultPackagesTile" class="sidebar-link" href="@Url.Action("Index","DefaultPackages")">Paquetes Predeterminados</a></li>
                                    <li><a id="DefaultPackagesDetailsTile" class="sidebar-link" href="@Url.Action("Index","DefaultPackagesDetails")">Paquetes Predeterminados Detalles</a></li>
                                    <li><a id="TipeofpayTile" class="sidebar-link" href="@Url.Action("Index","Tipeofpay")">Tipo de pagos</a></li>
                                    <li><a id="RegistrationPaymentsTile" class="sidebar-link" href="@Url.Action("Index","RegistrationPayments")">Registros de Pagos</a></li>
                                </ul>
                            </li>



                            <li class="sidebar-item">
                                <a class="sidebar-link" id="ReservationModule" href="#Reservation_Schema" data-bs-toggle="collapse" data-toggle="collapse">

                                    Módulo de Reservaciones
                                </a>
                                <ul class="collapse list-unstyled" id="Reservation_Schema">
                                    <li><a id="ReservationTile" class="sidebar-link" href="@Url.Action("Index","Reservation")">Reservaciones</a></li>
                                    <li><a id="ReservationTransportationTile" class="sidebar-link" href="@Url.Action("Index","ReservationTransportation")">Reservaciones de Transportes</a></li>
                                    <li><a id="ReservationExtraActivitiesTile" class="sidebar-link" href="@Url.Action("Index","ReservationExtraActivities")">Reservaciones de Actividades Extra</a></li>
                                    <li><a id="ReservationActivitiesHotelsTile" class="sidebar-link" href="@Url.Action("Index","ReservationActivitiesHotels")">Reservaciones de Actividades Hoteles</a></li>
                                    <li><a id="ReservationRestaurantTile" class="sidebar-link" href="@Url.Action("Index","ReservationRestaurant")">Reservaciones de Restaurantes</a></li>
                                    <li><a id="PersonalizePackages" class="sidebar-link" href="@Url.Action("PersonalizePackages","Reservation")">Paquetes personalizados</a></li>
                                    @*<li><a id="ReservationDetailsTile" class="sidebar-link" href="@Url.Action("Index","ReservationDetails")">Detalles de Reservaciones</a></li>*@
                                </ul>
                            </li>

                        </ul>
                    }
                    if (usersRole == "Cliente")
                    {
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            General
                        </span>

                        <ul class="list-unstyled py-4">

                            <li> <a id="UsersTile" class="sidebar-link" href="@Url.Action("Index","ClientHome")">Inicio</a></li>

                            <li> <a id="UsersTile" class="sidebar-link" href="@Url.Action("Index","BuyDefaults")">Paquetes de viajes</a></li>
                            <li class="sidebar-item" id="CustomPackages">
                                <a class="sidebar-link" href="#">
                                    <span>Crea tus propios paquetes</span>
                                </a>
                            </li>


                        </ul>
                    }
                    if (usersRole == "Moderador de Hotel")
                    {
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            General
                        </span>

                        <ul class="list-unstyled py-4">
                            <li> <a id="UsersTile" class="sidebar-link" href="@Url.Action("HotelDashboard","DashBoardHotelHome")">Inicio</a></li>
                            <li><a id="ModuleHotels" class="sidebar-link" href="@Url.Action("Index","HotelModel")">Reservacion Hoteles</a></li>
                            <li><a id="HotelsTile" class="sidebar-link" href="@Url.Action("Index","Hotel")">Hoteles</a></li>
                            <li><a id="RoomsTile" class="sidebar-link" href="@Url.Action("Index","Rooms")">Habitaciones</a></li>
                            <li><a id="HotelsMenuTile" class="sidebar-link" href="@Url.Action("Index","HotelsMenu")">Menú de Hoteles</a></li>
                            <li><a id="HotelsActivitiesTile" class="sidebar-link" href="@Url.Action("Index","HotelsActivities")">Actividades de Hoteles</a></li>
                            <li><a id="CategoriesRoomsTile" class="sidebar-link" href="@Url.Action("Index","CategoriesRooms")">Categorías de Habitaciones</a></li>
                        </ul>
                    }
                    if (usersRole == "Moderador de Transporte")
                    {
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            <a id="UsersTile" class="sidebar-link" href="@Url.Action("Index","DashBoardTransportsHome")">DashBoard</a>
                            <a id="ModuleHotels" class="sidebar-link" href="@Url.Action("Index","TransportModule")">Reservacion Transportes</a>
                        </span>

                        <ul class="list-unstyled py-4">

                            <li class="sidebar-item">
                                <a class="sidebar-link" id="TransportModule" href="#Transport_Schema" data-bs-toggle="collapse" data-toggle="collapse">
                                    Módulo de Transportes
                                </a>
                                <ul class="collapse list-unstyled" id="Transport_Schema">
                                    <li><a id="TransportDetailsTile" class="sidebar-link" href="@Url.Action("Index","TransportDetails")">Detalles Transportes</a></li>
                                    <li><a id="TransportTile" class="sidebar-link" href="@Url.Action("Index","Transport")">Transportes</a></li>
                                    <li><a id="DestinationsTransportationsTile" class="sidebar-link" href="@Url.Action("Index","DestinationsTransportations")">Destinos Transportes</a></li>
                                    <li><a id="ScheduleTransportationTile" class="sidebar-link" href="@Url.Action("Index","ScheduleTransportation")">Horarios Transporte</a></li>
                                    <li><a id="TypesTransportTile" class="sidebar-link" href="@Url.Action("Index","TypesTransport")">Tipos de Transportes</a></li>
                                </ul>
                            </li>
                        </ul>
                    }

                    if (usersRole == "Moderador de Agencia Turistica")
                    {

                    }

                    if (usersRole == "Moderador de Actividades")
                    {
                        <ul class="list-unstyled py-4">
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" id="DashboardActivitiesTile" href="@Url.Action("activitiesDashboard", "Home")">
                                    Inicio
                                </a>
                            </li>
                            <br />
                            <li class="sidebar-item">
                            <li><a id="ActivitiesTile" class="sidebar-link" href="@Url.Action("Index","ModulePartnersActivities")">Actividades</a></li>
                            <li><a id="PartnerTile" class="sidebar-link" href="@Url.Action("Info","ModulePartnersActivities")">Mi socio</a></li>
                           @* <li><a id="TypeMenusTile" class="sidebar-link" href="@Url.Action("Reservations","ModulePartnersActivities")">Ver reservaciones</a></li>*@
                            </li>
                        </ul> 
                    }

                        if (usersRole == "Moderador de Restaurante")
                        {
                            <ul class="list-unstyled py-4">
                                <li class="sidebar-item" id="">
                                    <a class="sidebar-link" id="DashboardTile" href="@Url.Action("restaurantDashboard", "Home")">
                                        Inicio
                                    </a>
                                </li>
                                <br />
                                <li class="sidebar-item">
                                <li><a id="RestaurantsTile" class="sidebar-link" href="@Url.Action("Index","ModuleRestaurants")">Menús</a></li>
                                <li><a id="MenusTile" class="sidebar-link" href="@Url.Action("Info","ModuleRestaurants")">Mi restaurante</a></li>
                                <li><a id="TypeMenusTile" class="sidebar-link" href="@Url.Action("Reservations","ModuleRestaurants")">Ver reservaciones</a></li>
                                </li>
                            </ul>
                        }
                }

            </nav>
            <div class="content-inner w-100">
                @RenderBody()
                <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 " style="font-size: large;" id="footer">
                    <div class="container-fluid">
                        <div class="row gy-2">
                            <div class="col-sm-6 text-sm-start">
                                <p class="mb-0">TotalTravel  &copy; 2022-2023</p>
                            </div>
                            <div class="col-sm-6 text-sm-end">
                                <p class="mb-0">Diseñado por <a href="https://github.com/orgs/AcademiaProgramadoresAHM/repositories" class="text-white text-decoration-none">AHM generación 5.2</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div id="loaderAnimation" style="">
        <img src="~/assets/img/spinning-circles.svg">
    </div>

    <!-- frameworks -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- BOOTSTRAP DOCUMENTATION https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

    <!-- alerts Libraries -->
    <script src="~/assets/js/iziToast.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script type="text/javascript" src="~/js/Pagination.js"></script>
    <script type="text/javascript" src="~/assets/js/front.js"></script>


    <!-- Proyect files -->
    <script src="~/js/main.js"></script>
    <script src="~/js/ErrorPage.js"></script>
    <script src="~/assets/js/Layout.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/JSON_Models.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("HighlightTile", required: false)

    <style type="text/css">
        <!--
        a.gflag {
            vertical-align: middle;
            font-size: 24px;
            padding: 1px 0;
            background-repeat: no-repeat;
            background-image: url(//gtranslate.net/flags/24.png);
        }

            a.gflag img {
                border: 0;
            }

            a.gflag:hover {
                background-image: url(//gtranslate.net/flags/24a.png);
            }

        #goog-gt-tt {
            display: none !important;
        }

        .goog-te-banner-frame {
            display: none !important;
        }

        .goog-te-menu-value:hover {
            text-decoration: none !important;
        }

        body {
            top: 0 !important;
        }

        #google_translate_element2 {
            display: none !important;
        }

        -->
    </style>


    <div id="google_translate_element2"></div>
    <script type="text/javascript">
        function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'es', autoDisplay: true }, 'google_translate_element2'); }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


</body>
</html>





