@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http;
@inject IViewLocalizer Localizer;
@{string usersRole =  Context.Session.GetString("Role");}
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agencia Total Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- Frameworks alerts -->
    <link rel="stylesheet" href="~/assets/css/iziToast.min.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <!-- icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--js-library css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <!-- Frameworks -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .sidebar-link {
            font-size: 1.3em !important;
        }

        .ui.modal {
            left: auto !important;
            top: auto !important;
            height: auto !important;
            overflow-x: unset !important;
        }


        #btnLogOut{
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem 2rem;
            display: inline-block;
            border-radius: 0.5rem;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            position: relative;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            background-color: #652D90;
        }

        #btnLogOut:hover {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            background-color: #652D90;
        }

        #btnLogOut:hover::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            background-color: #652D90;
        }
        .btn-edit {
            background-color: #A97BC4 !important;
            color: white;

        }
        .btn-delete {
            background-color: #cd0c36 !important;
            color: white;
        }
        .icon-crud {
            color: white;
        }
    </style>
    @RenderSection("HeadLinks", required: false)
    @RenderSection("CSS", required: false)

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header z-index-50">
            <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
                <!-- Search Box-->
                <div class="search-box shadow-sm">
                    <button class="dismiss d-flex align-items-center">
                        <svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#close-1"> </use>
                        </svg>
                    </button>
                    <form id="searchForm" action="#" role="search">
                        <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                    </form>
                </div>
                <div class="container-fluid w-100">
                    <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand -->
                            <a class="navbar-brand d-none d-sm-inline-block" href="@Url.Action("Index","Home")">
                                <div class="brand-text d-none d-lg-inline-block img-fluid"><img src="~/assets/img/logo-AHM-Fondo-Morao.png" width="45px" height="45px" alt="imagen de logo"><span>Total</span><strong>Travel</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong><img src="~/assets/img/logo-AHM-Fondo-Morao.png" width="45px" height="45px" alt="imagen de logo"></strong></div>
                            </a>
                            <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center" 
                            style="
                            display: flex;
                            justify-content: space-between;
                            align-content: space-around;">
                            <li id="search" class="nav-item d-flex align-items-center">

                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("LogOut","Access")" style="background-color: #652D90;" id="btnLogOut">
                                    <i class="power off icon"></i>
                                    <span class="d-none d-sm-inline">Cerrar Sesión</span>
                                </a>
                            </li>
                            <li class="nav-item" style="
                                display: flex;
                                justify-content: space-between;
                                align-content: space-around;">
                                
                                <!-- GTranslate: https://gtranslate.io/ -->
                                <a href="#" onclick="doGTranslate('es|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px; margin-top:15px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a>
                                <p style="
                                   display: flex;
                                   margin-top: 15px;
                                   align-content: center;
                                   align-items: center;
                                   margin-left: 11px;
                                   margin-right: 11px;"> | </p>
                                <a href="#" onclick="doGTranslate('es|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px; margin-top:15px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center py-4 px-3">
                    <img class="avatar shadow-0 img-fluid rounded-circle" style="margin-right: 11px;" src="@Context.Session.GetString("ImgUrl")" alt="..." id="user_image">
                        <div class="ms-3 title">
                        
                            <a class="d-none d-md-block dropdown-toggle h4 mb-2 text-capitalize" asp-area="" asp-controller="Account" asp-action="Index" style="color: black; text-decoration: inherit;">
                                @Context.Session.GetString("Name")
                            </a>
                        </div>
                    </a><!-- End Profile Image Icon -->
                </div>
                @{
                    if (usersRole == "Administrador")
                    {
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            General
                        </span>

                        <ul class="list-unstyled py-4">
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    Inicio
                                </a>
                            </li>
                        </ul>
                      
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            Admin
                        </span>
                        <ul class="list-unstyled py-4">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#Access_Schema" data-toggle="collapse">
                                    Modulo de Acceso
                                </a>
                                <ul class="collapse list-unstyled" id="Access_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Users")">Usuarios</a></li>

                                </ul>
                                <a class="sidebar-link" href="#General_Schema" data-toggle="collapse">
                                    Modulo General
                                </a>
                                <ul class="collapse list-unstyled" id="General_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Countries")">Paises</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","City")">Ciudad</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Address")">Direcciones</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Partners")">Socios</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","PartnerType")">Tipo de Socios</a></li>
                                </ul>
                                <a class="sidebar-link" data-target="#Restaurant_Schema" data-toggle="collapse">
                                    Modulo de Restaurantes
                                </a>
                                <ul class="collapse list-unstyled" id="Restaurant_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Restaurant")">Restaurantes</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Menus")">Menus</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","TypeMenus")">Tipo Menús</a></li>
                                </ul>
                                <a class="sidebar-link" href="#Transport_Schema" data-toggle="collapse">
                                    Modulo de Transportes
                                </a>
                                <ul class="collapse list-unstyled" id="Transport_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","TransportDetails")">Detalles Transportes</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Transport")">Transportes</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","DestinationsTransportations")">Destinos Transportes</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","TypesTransport")">Tipos Transportes</a></li>
                                </ul>
                                <a class="sidebar-link" href="#Activity_Schema" data-toggle="collapse">
                                    Modulo de Actividades
                                </a>
                                <ul class="collapse list-unstyled" id="Activity_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Activities")">Actividades</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","ActivitiesExtra")">Actividades Extra</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","TypesActivities")">Tipos de Actividades</a></li>
                                </ul>
                                <a class="sidebar-link" href="#Hotels_Schema" data-toggle="collapse">
                                    Modulo de Hoteles
                                </a>
                                <ul class="collapse list-unstyled" id="Hotels_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Hotel")">Hoteles</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","Rooms")">Habitaciones</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","HotelsMenu")">Hoteles Menu</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","HotelsActivities")">Hoteles Actividades</a></li>

                                </ul>
                                
                                <a class="sidebar-link" href="#Sale_Schema" data-toggle="collapse">
                                    Modulo Ventas
                                </a>
                                <ul class="collapse list-unstyled" id="Sale_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","DefaultPackages")">Paquetes Predeterminados</a></li>
                                </ul>


                                <a class="sidebar-link" href="#Reservation_Schema" data-toggle="collapse">
                                    Modulo Reservaciones
                                </a>
                                <ul class="collapse list-unstyled" id="Reservation_Schema">
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","ReservationTransportation")">Reservacion Transporte</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","ReservationExtraActivities")">Reservacion Actividades Extra</a></li>
                                    <li><a id="User_Index" class="sidebar-link" href="@Url.Action("Index","ReservationRestaurant")">Reservacion Restaurant</a></li>

                                </ul>
                            </li>
                        </ul>
                    }
                    if (usersRole == "Cliente")
                    { 
                        <!-- Sidebar Navigation Menus-->
                        <span class="text-uppercase text-gray-400 letter-spacing-0 mx-3 px-2 heading">
                            General
                        </span>

                        <ul class="list-unstyled py-4">
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    Inicio
                                </a>
                            </li>
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    <i class="bi bi-person"></i>
                                    <span>Paquetes de viajes</span>
                                </a>
                            </li>
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    <i class="bi bi-person"></i>
                                    <span>Crea tu propio paquete</span>
                                </a>
                            </li>

                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    Historial de compras
                                </a>
                            </li>
                            <li class="sidebar-item" id="">
                                <a class="sidebar-link" href="#">
                                    Historial de transacciones
                                </a>
                            </li>
                        </ul>
                    }
                    if (usersRole == "Moderador de Hotel")
                    { 

                    }
                    if (usersRole == "Moderador de Transporte")
                    { 

                    }
                    if (usersRole == "Moderador de Agencia Turistica")
                    { 

                    }
                    if (usersRole == "Moderador de Restaurante")
                    { 
                    
                    }
                }

            </nav>
            <div class="content-inner w-100">
                <br />
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- frameworks -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- BOOTSTRAP DOCUMENTATION https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

    <!-- alerts Libraries -->
    <script src="~/assets/js/iziToast.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    -->
    <script type="text/javascript" src="~/js/Pagination.js"></script>
    <script type="text/javascript" src="~/assets/js/front.js"></script>
    

    <!-- Proyect files -->
    <script src="~/js/main.js"></script>
    <script src="~/js/JSON_Models.js"></script>
    @RenderSection("Scripts", required: false)

    <style type="text/css">
        <!--
        a.gflag {
            vertical-align: middle;
            font-size: 24px;
            padding: 1px 0;
            background-repeat: no-repeat;
            background-image: url(//gtranslate.net/flags/24.png);
        }

            a.gflag img {
                border: 0;
            }

            a.gflag:hover {
                background-image: url(//gtranslate.net/flags/24a.png);
            }

        #goog-gt-tt {
            display: none !important;
        }

        .goog-te-banner-frame {
            display: none !important;
        }

        .goog-te-menu-value:hover {
            text-decoration: none !important;
        }

        body {
            top: 0 !important;
        }

        #google_translate_element2 {
            display: none !important;
        }
        -->
    </style>

    <br />
    
                               
    <div id="google_translate_element2"></div>
    <script type="text/javascript">
        function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'es', autoDisplay: true }, 'google_translate_element2'); }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


    <script type="text/javascript">
        /* <![CDATA[ */
        eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
        /* ]]> */
    </script>


    
</body>
</html>





