@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesDetailsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon bicycle"></i>
            <div class="content">
                <div class="header">
                    Paquete predeterminado detalles
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createDefaultPackagesDetails" class="ui small primary labeled icon btn-purple button"><i class="user icon"></i>Nuevo</button>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table id="grdDefaultPackagesDetails" class="display ui compact selectable celled table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        Paquete
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Duracion
                    </th>
                    <th>
                        Actividad
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombrePaquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescripcionPaquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DuracionPaquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescripcionActividad)
                        </td>



                        <td>

                            <button class="ui large icon btn-edit button" id="UpdateBottomDsTr" onclick="editar(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon btn-delete button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "DefaultPackagesDetails", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>
    </div>
</div>
<br>


<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa Detalles de paquete predeterminado
    </div>
    <form asp-action="Create" asp-controller="DefaultPackagesDetails" id="createDefaultPackagesDetailsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="field">
                            <label>Paquete predeterminado</label>
                            <select id="paqu_ID" name="paqu_ID" class="ui dropdown search" asp-items="ViewBag.paqu_ID">
                                <option value="">Seleccione el paquete</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Actividad</label>
                            <select id="Actv_ID" name="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                                <option value="">Seleccione el tipo de Actividad</option>
                            </select>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Precio</label>
                            <input id="Precio" name="PaDe_Precio" placeholder="Precio de la actividad hotel" />
                        </div>
                        <div class="field">
                            <label>Cantidad</label>
                            <input id="Cantidad" name="PaDe_Cantidad" placeholder="Agrege cantidad de personas" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-purple text-white" id="sendDefaultPackagesDetails">Guardar</button>
        <button class="ui button" id="closeDefaultPackagesDetails">Cancelar</button>
    </div>
</div>




<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un Destino Transporte
    </div>
    <form asp-action="Update" asp-controller="DefaultPackagesDetails" id="updateDefaultPackagesDetailsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">

                    <div class="two fields">
                        <div class="field">
                            <label>Paquete predeterminado</label>
                            <select id="Paqu_ID_up" name="paqu_ID" class="ui dropdown search" asp-items="ViewBag.paqu_ID">
                                <option value="">Seleccione el paquete</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Actividad</label>
                            <select id="Actv_ID_up" name="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                                <option value="">Seleccione el tipo de Actividad</option>
                            </select>
                        </div>
                    </div>
                    <input id="PaDe_ID" name="PaDe_ID" hidden />
                    <div class="two fields">
                        <div class="field">
                            <label>Precio</label>
                            <input id="Precio_up" name="PaDe_Precio" placeholder="Precio de la actividad hotel" />
                        </div>
                        <div class="field">
                            <label>Cantidad</label>
                            <input id="Cantidad_up" name="PaDe_Cantidad" placeholder="Agrege cantidad de personas" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-purple text-white" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/DefaultPackagesDetails/Create.js"></script>

    <script>
        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }
        // ----------------------------------- EVENTS ------------------------------------
        $(document).ready(function () {

            var table = $("#grdDefaultPackagesDetails").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {},
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });

        //------------------------------------Funciones------------------------

        function Delete(id) {
            const capsula1d = () => {
                ajaxRequest("/DefaultPackagesDetails/Delete?id=" + id, null, "POST")
                window.location.href = '/DefaultPackagesDetails?success=true';
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", capsula1d);

        };
    </script>
}
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}





























