@model AHM_TOTAL_TRAVEL_WEB.Models.TransportDetailsListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bus"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>
                    <p>Detalles de un transporte.</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "TransportDetails")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="four fields">
                            <div class="field">
                                <label>ID</label>
                                @Html.DisplayFor(model => model.ID)
                            </div>
                            <div class="field">
                                <label>Nombre</label>
                                @Html.DisplayFor(model => model.Nombre_Transporte)
                            </div>
                            <div class="field">
                                <label>Tipo transporte</label>
                                @Html.DisplayFor(model => model.Tipo_Transporte)
                            </div>
                            <div class="field">
                                <label>Partner</label>
                                @Html.DisplayFor(model => model.Parter)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="four fields">
                            <div class="field">
                                <label>Ciudad Salida</label>
                                @Html.DisplayFor(model => model.Ciudad_Salida)
                            </div>
                            <div class="field">
                                <label>Ciudad Llegada</label>
                                @Html.DisplayFor(model => model.Ciudad_Llegada)
                            </div>
                            <div class="field">
                                <label>Hora Salida</label>
                                @Html.DisplayFor(model => model.Hora_Salida)
                            </div>
                            <div class="field">
                                <label>Hora Llegada</label>
                                @Html.DisplayFor(model => model.Hora_Llegada)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="four fields">
                            <div class="field">
                                <label>Capacidad</label>
                                @Html.DisplayFor(model => model.Capacidad)
                            </div>
                            <div class="field">
                                <label>Precio</label>
                                @Html.DisplayFor(model => model.Precio)
                            </div>
                            <div class="field">
                                <label>Matricula</label>
                                @Html.DisplayFor(model => model.Matricula)
                            </div>
                            <div class="field">
                                <label>Fecha Salida</label>
                                @Html.DisplayFor(model => model.Fecha_Salida)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Modifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#Transport_Schema").addClass("show");
        $("#TransportModule").addClass("expandedList")
    </script>
    <script>
        $("#menu_item_126").addClass("activeTile");
    </script>
}
