@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportDetailsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon car"></i>
            <div class="content">
                <div class="header">
                    Detalles Transportes
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create","TransportDetails")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Transporte
                    </th>
                    <th>
                        Capacidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Matricula
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>
                        Socio
                    </th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Transporte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    @{
                        string horario = $"{item.Ciudad_Salida} - {item.Ciudad_Llegada} / {item.Hora_Salida} - {item.Hora_Llegada}";
                    }
                    <td>
                        @horario
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parter)
                    </td>
                    <td>
                        <a href="@Url.Action("Update","TransportDetails",new {  id=item.ID})" class="ui large icon btn-edit button"><i class="pencil alternate icon  icon-crud"></i></a>
                        <button class="ui large icon negative button" onclick="DeleteDetalleTransporte(@item.ID)">
                            <i class="trash alternate icon"></i>
                        </button>
                        <a href="@Url.Action("Details","TransportDetails",new {  id=item.ID})" class="ui large icon button"><i class="bi bi-info-circle fa-lg"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
        // ----------------------------------- EVENTS ------------------------------------
  


        $(document).ready(function () {

            var table = $("#tabla").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {}
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });

        $("#tabla").paginationTdA({
            elemPerPage: 10
        });

        function DeleteDetalleTransporte(id) {
            const DTransporte = () => {
                const result = ajaxRequest("/TransportDetails/Delete?id=" + id, null, "POST");
                if (result > 0) {
                    location.reload();
                }
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", DTransporte);

        };
    </script>
}

@section HighlightTile{
    <script>

        $("#TransportModule").addClass("active");
        $("#TransportModule").addClass("expandedList");
        $("#TransportModule").prop("aria-expanded");
        $("#TransportModule").attr("aria-expanded", "true");

        $("#Transport_Schema").addClass("show");

        $("#TransportDetailsTile").addClass("activeTile");
    </script>
}