@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Loading third party fonts -->
<!-- Loading main css file -->
<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
<link rel="stylesheet" href="~/assets/client/css/style.css">

<!--[if lt IE 9]>
<script src="js/ie-support/html5.js"></script>
<script src="js/ie-support/respond.js"></script>
<![endif]-->





<div class="content back">
    <div class="slider">
        <ul class="slides">
            <li class="imagen" style="background-image: url('https://images.ecestaticos.com/WonlqyJjfs3y3x_XilOtDSL00d8=/0x81:1440x890/1338x752/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fbdf%2Fd17%2F7ca%2Fbdfd177ca0879c1ae83cf48b430fe09d.jpg');">

                <div class="container">
                    <div class="slide-caption col-md-4">
                        <h1 class="slide-title">Reserva</h1>
                        <p>Disfruta de la estadia en uno de los hoteles clasificados dependiendo a tus gustos </p>
                    </div>
                </div>
            </li>
            <li class="imagen" style="background-image: url('https://www.isaacnewton.edu.ec/wp-content/uploads/2019/12/Viaje.jpg');">
                <div class="container">
                    <div class="slide-caption col-md-4">
                        <h1 class="slide-title">Explora</h1>
                        <p>Haz de tu viaje una diversion con la lista de actividades que te ofrecemos</p>
                    </div>
                </div>
            </li>
            <li class="imagen" style="background-image: url('https://www.bbva.com/wp-content/uploads/2017/12/billetes-avion-viajes-tarifas-comparacion-precios-ahorro-compra-vuelos-bbva-e1513873444593.jpg');">
                <div class="container">
                    <div class="slide-caption col-md-4">
                        <h1 class="slide-title">Disfruta</h1>
                        <p>Con los mejores platillos de los mejores restaurantes para tu seleccion</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="flexslider-controls">
            <div class="container">
                <ol class="flex-control-nav">
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-7 wow fadeInLeft">
                    <h2 class="section-title">Que es TotalTravel?</h2>


                    <p>Somos una agencia de viajes que cuenta con emisión directa de boletos aéreos en nombre de todas las aerolíneas certificadas a nivel global. </p>

                    <p>Contamos además con acuerdos y convenios de tarifas especiales y beneficios adicionales para todos nuestros pasajeros, tales como nuestras ofertas de paquetes predeterminados ya por nuestra parte o la opcion de crear su propio destino y actividades.</p>

                    <p>Con Agencia de Viajes Total Travel, es tiempo de nuevas experiencias, es tiempo de tu escape perfecto.</p>
                </div>
                <div class="col-md-4 col-md-push-1 wow fadeInRight">
                    <figure>
                        <img src="https://images.ecestaticos.com/ACVeUCXZwiTdUNFf4fRI-jMLmto=/0x0:1600x900/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F63b%2F29b%2Ffb2%2F63b29bfb2de78d7b78f7da533fd8e1d1.jpg" alt="">
                    </figure>


                </div>
            </div>
        </div>

    </div>

    <div class="fullwidth-block offers-section" data-bg-color="#f1f1f1">
        <div class="container">
            <h2 class="section-title">Paquetes de viajes mas recientes</h2>
            <div class="row" id="paquetes">
            </div>
        </div>
    </div>

    <div class="fullwidth-block testimonial-section">
        <div class="container">
            <h2 class="space">Nuestros servicios</h2>
            <p class="spacep">Te ofrecemos una amplia variedad de opciones para que disfrutes de tu viaje.</p>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:90px;margin-right: 40px;">
                    <div class="testimonial wow fadeInUp">
                        <div class="avatar" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/25/fb/8c/46/hotel-exterior.jpg')"></div>
                        <blockquote class="testimonial-body">
                            <p>Hoteles</p>
                            <a class="link" href="#">Ver lista de hoteles</a>

                        </blockquote>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:40px;margin-right: 40px;">
                    <div class="testimonial wow fadeInUp" data-wow-delay=".2s">
                        <div class="avatar" style="background-image: url('https://www.buengusto.co/wp-content/uploads/2019/05/servicio-restaurante-1920x1280.jpg')"></div>
                        <blockquote class="testimonial-body">
                            <p>Restaurantes</p>
                            <a class="link" href="#">Ver lista de Restaurantes</a>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:40px;margin-right: 40px;">
                    <div class="testimonial wow fadeInUp" data-wow-delay=".4s">
                        <div class="avatar" style="background-image: url('https://bucketrediseno.s3.amazonaws.com/uploads/general_template/image_portada/32/resort-activities-01.jpg')"></div>
                        <blockquote class="testimonial-body">
                            <p>Actividades</p>
                            <a class="link" href="#">Ver lista de Actividades</a>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div> <!-- .content -->

<div class="site-footer wow fadeInUp">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">Sobre nosotros</h3>
                        <p>Somos una empresa dedicada cien por ciento al turismo en un planteamiento de ambas direcciones con la agencia de viajes.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title"></h3>
                        <ul class="list-arrow">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title"></h3>
                        <ul class="list-arrow">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-customer-info">
                        <h3 class="widget-title">Contactanos</h3>
                        <img src="~/assets/dummy/footer-customer-service.jpg" alt="" class="pull-left">
                        <div class="cs-info">
                            <p></p>
                            <p>+504 9752-8480 <br> <a href="mailto:cs@companyname.com">Totaltravel@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- .site-footer -->
<!-- #site-content -->


@section Scripts
{
    <script src="~/assets/client/js/min/plugins-min.js"></script>
    <script src="~/assets/client/js/min/app-min.js"></script>
    <script src="~/js/HomeClient/hclient.js"></script>

}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion_Paquete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracion_Paquete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion_Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Restaurante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Usuario_Creacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario_Creacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Creacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Usuario_Modifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario_Modifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Modifcia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion_Paquete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion_Paquete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion_Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Restaurante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Usuario_Creacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario_Creacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Creacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Usuario_Modifica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario_Modifica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Modifcia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
