@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PaymentRecordListViewModel>

@{
    ViewData["Title"] = "IndexHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon" ></i>
            <div class="content">
                <div class="header">
                    Historial de Transacciones
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>


        <table class="ui compact selectable celled table" id="grdPaymentRecord">
            <thead>
                <tr>
                    <th>
                        Codigo De Factura
                    </th>
        
                    <th>
                        @Html.DisplayNameFor(model => model.MontoPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion_Paquete)
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>

                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @string.Concat("#0", item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion_Paquete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
@section Scripts{
    <script>
        $("#Hisotial").addClass("active");
    </script>
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        //TableSearchInput(SearchInput, Table, elemPerPage = 10)
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdPaymentRecord tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdPaymentRecord").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdPaymentRecord").paginationTdA({
            elemPerPage: 10
        });

    </script>
}
@*@section HighlightTile{
    <script>

        $("#SalesModule").addClass("active");
        $("#SalesModule").addClass("expandedList");
        $("#SalesModule").prop("aria-expanded");
        $("#SalesModule").attr("aria-expanded", "true");

        $("#Sale_Schema").addClass("show");

        $("#RegistrationPaymentsTile").addClass("activeTile");
    </script>
}*@

