@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PaymentRecordListViewModel>

@{
    ViewData["Title"] = "IndexHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message mb-3">
            <i class="figure icon"></i>
            <div class="content">
                <div class="header">
                    Historial de transacciones
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdHistoryPayments">
            <thead>
                <tr>
                    <th>
                        Monto Pago
                    </th>
                    <th>
                        Fecha Pago
                    </th>
                    <th>
                        Tipo Pago
                    </th>
                    <th>
                        Nombre Paquete
                    </th>
                    <th>
                        Descripcion Paquete
                    </th>
                    <th>
                        Precio Paquete
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        DNI
                    </th>
                    <th>
                        Telefono
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.MontoPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaPago)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPago)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.nombre_paquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion_paquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio_paquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre_Completo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>


                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
        $(document).ready(function () {

            var table = $("#grdHistoryPayments").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {}
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '',
                        className: "btn-primary ui small d-none",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5 ,6 ,7 ,8]
                        }
                    },
                ]
            });
        });
    </script>
}
