@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PaymentRecordListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon food"></i>
            <div class="content">
                <div class="header">
                    Regsitros de pago
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        

        <table class="ui compact selectable celled table" id="grdPaymentRecord">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPago)
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>

                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPago)
                        </td>

                        <td>
                            @string.Concat( item.Nombre, " ", item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new {id = item.ID /* id=item.PrimaryKey */ }) 
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
@section Scripts{
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        //TableSearchInput(SearchInput, Table, elemPerPage = 10)
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdPaymentRecord tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdPaymentRecord").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdPaymentRecord").paginationTdA({
            elemPerPage: 10
        });

    </script>
}
@section HighlightTile{
    <script>
        $("#SalesModule").addClass("active");
        $("#Sale_Schema").addClass("show");
        $("#SalesModule").addClass("expandedList")
    </script>
}
