@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.RegistrationPaymentsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Reservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Paquete)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPago)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Reservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Paquete)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
