@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PaymentRecordListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@try
{
    <div class="container card">
        <div class="ui basic segment">

            <div class="ui icon attached message">
                <i class="icon dollar sign"></i>
                <div class="content">
                    <div class="header">
                        Registros de pago
                    </div>
                </div>
            </div>

            <br>
            <div class="ui grid mb-3">
                <div class="eight wide column">
                    <div class="eight wide column">
                        <button id="createPayments" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
                    </div>
                </div>
            </div>


            <table id="grdPaymentRegist" class="display ui compact selectable celled table" style="width:100%; margin-top:30px;">
                <thead>
                    <tr>
                        <th>
                            # de Factura
                        </th>
                        <th>
                            Monto Pagado
                        </th>
                        <th>
                            Forma de pago
                        </th>
                        <th>
                            Fecha y hora de pago
                        </th>
                        <th>
                            Reservacion
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th width="200px">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr data-value="@item.ID" data-hotel="@item.ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                L. @Html.DisplayFor(modelItem => item.MontoPago)
                            </td>
                            <td>
                                @{
                                    if (item.Id_TipoPago == 1)
                                    {


                                        <i class="credit card icon"></i>
                                    }
                                    else if (item.Id_TipoPago == 2)
                                    {

                                        <i class="money bill"></i>
                                    }
                                    else if (item.Id_TipoPago == 3)
                                    {

                                        <i class="paypal icon"></i>

                                    }
                                }
                                @Html.DisplayFor(modelItem => item.TipoPago)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaPago)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion_paquete)
                            </td>
                            <td>
                                @string.Concat(item.Nombre, " ", item.Apellido)
                            </td>
                            <td>
                                <a href="@Url.Action("Details","RegistrationPayments",new {  id=item.ID})" class="ui large icon button"><i class="bi bi-info-circle fa-lg icon-crud"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
catch (Exception)
{
    <script>location.assign("@Url.Action("Error", "Home")");</script>
}

<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Registro de pago
    </div>
    <form asp-action="Create" asp-controller="RegistrationPayments" method="post" id="createPaymentForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">

                        <div class="required field">
                            <label class="ui label">Forma de pago</label>
                            <input name="TiPa_ID" id="TiPa_ID" class="form-control" />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Reservación</label>
                            <input name="Resv_ID" id="Resv_ID" class="form-control" />

                        </div>
                        <div class="required field">
                            <label class="ui label">Forma de pago</label>
                            <input name="TiPa_ID" id="TiPa_ID" class="form-control" />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Cantidad</label>
                            <input type="number" min="1" name="RePa_Monto" id="RePa_Monto" class="form-control" />

                        </div>
                        <div class="required field">
                            <label class="ui label">Fecha</label>
                            <div class="ui calendar" id="standard_calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Fecha de pago" id="RePa_FechaPago">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>


<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un Registro de pago
    </div>
    <form asp-action="Update" asp-controller="RegistrationPayments" method="post" id="updatePaymentsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label># Número de factura</label>
                            <input name="RePa_ID" id="RePa_ID" class="form-control" readonly />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label># Reservación</label>
                            <input name="resv_ID" id="resv_ID" class="form-control" />

                        </div>
                        <div class="required field">
                            <label>Forma de pago</label>
                            <input name="tiPa_ID" id="tiPa_ID" class="form-control" />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label>Cantidad</label>
                            <input type="number" min="1" name="rePa_Monto" id="rePa_Monto" class="form-control" />

                        </div>
                        <div class="required field">
                            <label>Fecha</label>
                            <div class="ui calendar" id="example4">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date/Time">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>



@section Scripts{
    <script src="~/js/RegistrationPayments/Index.js"></script>
    <script src="~/js/RegistrationPayments/Payments.js"></script>

    <script>
        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }
        function Delete(id) {
            const capsula1 = () => {
                ajaxRequest("/RegistrationPayments/Delete?id=" + id, null, "POST")
                window.location.href = '/RegistrationPayments?success=true';
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrará permanentemente", "warning", capsula1);


        };

    </script>
}
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}
