@model AHM_TOTAL_TRAVEL_WEB.Models.ScheduleTransportationListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bicycle"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>
                    <p>Detalles de el paquete predeterminado.</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ScheduleTransportation")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Ciudad Salida</label>
                                @Html.DisplayFor(model => model.Ciudad_Salida)
                            </div>
                            <div class="field">
                                <label>Ciudad Llegada</label>
                                @Html.DisplayFor(model => model.Ciudad_Destino)
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Hora Salida</label>
                                @Html.DisplayFor(model => model.Hora_Salida)
                            </div>
                            <div class="field">
                                <label>Hora Llegada</label>
                                @Html.DisplayFor(model => model.Hora_Llegada)
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Fecha Salida</label>
                                @Html.DisplayFor(model => model.Fecha)
                            </div>
                            <div class="field">
                                <label>Socio</label>
                                @Html.DisplayFor(model => model.Partner_Nombre)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Modifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section HighlightTile{
    <script>
        highlightTile();
    </script>
}