@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ScheduleTransportationListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon clock"></i>
            <div class="content">
                <div class="header">
                    Horarios Transporte
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" id="btnCrearhorario" >
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdRestaurants">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Ciudad Salida
                    </th>
                    <th>
                        Ciudad Destino
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Hora de Salida
                    </th>
                    <th>
                        Hora de llegada
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad_Salida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad_Destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hora_Salida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hora_Llegada)
                        </td>

                        <td>
                            <button class="ui large icon btn-edit button" id="UpdateBottomSchedule" onclick="GetScheduleID(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon negative button" onclick="DeleteHorarios(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","ScheduleTransportation",new {  id=item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Horario
    </div>
    <form asp-action="Create" asp-controller="ScheduleTransportation" id="createScheduleForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="field">
                            <label>Destino</label>
                            <select id="DsTr_ID" name="DsTr_ID" class="ui dropdown search" asp-items="ViewBag.DsTr_ID">
                                <option value="">Seleccione el Destino</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Fecha</label>
                            <input type="date" id="FechaViaje" name="HoTr_Fecha" placeholder="Seleccione una Fecha" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Hora de Salida</label>
                            <input type="time" id="HoTr_HoraSalida" name="HoTr_HoraSalida" placeholder="Hora de Salida" />
                        </div>
                        <div class="field">
                            <label>Hora de llegada</label>
                            <input type="time" id="HoTr_HoraLlegada" name="HoTr_HoraLlegada" placeholder="Hora de Llegada " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-purple text-white" id="SendSchedule">Guardar</button>
        <button class="ui button" id="closeSchedule">Cancelar</button>
    </div>
</div>


<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Horario
    </div>
    <form asp-action="Update" asp-controller="ScheduleTransportation" id="UpdateScheduleForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="field">
                            <input id="ID_Horario" name="HoTr_ID" placeholder="ID" />
                            <label>Destino</label>
                            <select id="DsTr_IDUpdate" name="DsTr_ID" class="ui dropdown search" asp-items="ViewBag.DsTr_ID">
                                <option value="">Seleccione el Destino</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Fecha</label>
                            <input type="date" id="FechaViajeUpdate" name="HoTr_Fecha" placeholder="Seleccione una Fecha" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Hora de Salida</label>
                            <input id="HoTr_HoraSalidaUpdate" name="HoTr_HoraSalida" placeholder="Hora de Salida" />
                        </div>
                        <div class="field">
                            <label>Hora de llegada</label>
                            <input id="HoTr_HoraLlegadaUpdate" name="HoTr_HoraLlegada" placeholder="Hora de Llegada " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-purple text-white" id="SendScheduleEdit">Guardar</button>
        <button class="ui button" id="closeScheduleEdit">Cancelar</button>
    </div>
</div>

@section Scripts{ 
<script src="~/js/ScheduleTRansportJs/Create.js"></script>
<script src="~/js/ScheduleTRansportJs/Update.js"></script>
<script>
    //------------------------------------Funciones------------------------

    function DeleteHorarios(Id) {
        const capsula10 = () => {
            var response = ajaxRequest("/ScheduleTransportation/Delete?id=" + Id, null, "POST");
            if (response > 0) {
                window.location.href = '/ScheduleTransportation?success=true';
            }
        };
        sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrara permanentemente.", "warning", capsula10);

    };

</script>
}

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#Schedule_Index").addClass("active");
        $("#Transport_Schema").addClass("show");
        $("#TransportModule").addClass("expandedList")
    </script>
}
