@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationExtraActivitiesListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon align-self-lg-start "></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles Reservacion Actividades Extras
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ReservationExtraActivities")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Reservacion</label>
                                @Html.DisplayFor(model => model.Reservacion)

                            </div>
                            <div class="field">
                                <label>Cliente</label>
                                @Html.DisplayFor(model => model.Cliente)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Actividad Extra</label>
                                @Html.DisplayFor(model => model.Actividad_Extra)

                            </div>
                            <div class="field">
                                <label>Cantidad</label>
                                @Html.DisplayFor(model => model.Cantidad)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Fecha Reservacion</label>
                                @Html.DisplayFor(model => model.Fecha_Reservacion)

                            </div>
                            <div class="field">
                                <label>Hora Reservacion</label>
                                @Html.DisplayFor(model => model.Hora_Reservacion)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Creacion)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Modifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




 