@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ReservationExtraActivitiesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="figure icon"></i>
            <div class="content">
                <div class="header">
                    Reservacion Actividades Extras
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create","ReservationExtraActivities")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdReservationExtraActivities">
            <thead>
                <tr>
                    <th>
                        Reservacion
                    </th>
                    <th>
                        Clientes
                    </th>
                    <th>
                        Actividad Extra
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Fecha Reservacion
                    </th>
                    <th>
                        Hora Reservacion
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Reservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actividad_Extra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Reservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hora_Reservacion)
                        </td>


                        <td>
                            <a href="@Url.Action("Update","ReservationExtraActivities",new {  id=item.ID})" class="ui large icon btn-edit button">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteReservacionActividadesextras(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","ReservationExtraActivities",new {  id=item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>


                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>


@section Scripts{
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdReservationExtraActivities tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdReservationExtraActivities").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdReservationExtraActivities").paginationTdA({
            elemPerPage: 10
        });

        function DeleteReservacionActividadesextras(id) {
            const prueba = () => {
                var response = ajaxRequest("/ReservationActivitiesExtra/Delete?id=" + id,null, "POST");
                if (response > 0) {
                    window.location.href = '/ReservationActivitiesExtra?success=true';
                }
            };

            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrara permanentemente.", "warning", prueba);

        };
    </script>
}

@section HighlightTile{
    <script>
        $("#ReservationModule").addClass("active");
        $("#Reservation_Schema").addClass("show");
        $("#ReservationModule").addClass("expandedList")
    </script>
}
