@model AHM_TOTAL_TRAVEL_WEB.Models.RoomsListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon building"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Rooms")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="five fields">
                            <div class="field">
                                <label>Habitacion</label>
                                @Html.DisplayFor(model => model.Habitacion)
                            </div>
                            <div class="field">
                                <label>Descripcion</label>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </div>
                            <div class="field">
                                <label>Categoria</label>
                                @Html.DisplayNameFor(model => model.CategoriaHabitacionID)
                            </div>
                            <div class="field">
                                <label>Hotel</label>
                                @Html.DisplayFor(model => model.HotelID)
                            </div>
                            <div class="field">
                                <label>Precio</label>
                                @Html.DisplayNameFor(model => model.Precio)
                            </div>
                            <div class="field">
                                <label>Balcon</label>
                                @Html.DisplayNameFor(model => model.Balcon)
                            </div>
                            <div class="field">
                                <label>Wifi</label>
                                @Html.DisplayNameFor(model => model.Wifi)
                            </div>
                            <div class="field">
                                <label>Camas</label>
                                @Html.DisplayNameFor(model => model.Camas)
                            </div>
                            <div class="field">
                                <label>Capacidad</label>
                                @Html.DisplayNameFor(model => model.Capacidad)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaModifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section HighlightTile{
    <script>
        $("#HotelModule").addClass("active");
        $("#Hotel_Schema").addClass("show");
        $("#HotelModule").addClass("expandedList")
    </script>
}