@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.RoomsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon building"></i>
            <div class="content">
                <div class="header">
                   Habitaciones
                </div>
                <p></p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create","Rooms")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdRestaurants">
            <thead>
                <tr>
                    <th>
                        Habitacion
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Hotel
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Balcon
                    </th>
                    <th>
                        Wifi
                    </th>
                    <th>
                       Camas
                    </th>
                    <th>
                        Capacidad
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Habitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @{ if (item.Balcon == 1 )
                                {
                                    <span >Si</span>
                                }
                                else
                                {
                                    <span > No </span>
                                }
                            }
                        </td>
                        <td>
                            @{ if (item.Wifi == true)
                                {
                                    <span >Si</span>
                                }
                                else
                                {
                                    <span >No </span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Camas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacidad)
                        </td>
                        <td>
                            <a href="@Url.Action("Update","Rooms",new {  id=item.ID})" class="ui large icon btn-edit button"><i class="pencil alternate icon  icon-crud"></i></a>
                            <button class="ui large icon negative button" onclick="DeleteRooms(@item.ID)">
                                <i class="trash alternate icon"></i>
                            </button>
                            <a href="@Url.Action("Details","Rooms",new {  id=item.ID})" class="ui large icon button"><i class="bi bi-info-circle fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 10
        });

        function DeleteRooms(id) {
            const Rooms = () => {
                const result = ajaxRequest("/Rooms/Delete?id=" + id, null, "POST");
                if (result > 0) {
                    location.reload();
                }
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", Rooms);

        };
    </script>
}

@section HighlightTile{
    <script>

        $("#HotelModule").addClass("active");
        $("#HotelModule").addClass("expandedList");
        $("#HotelModule").prop("aria-expanded");
        $("#HotelModule").attr("aria-expanded", "true");

        $("#Hotels_Schema").addClass("show");

        $("#RoomsTile").addClass("activeTile");
    </script>
}