@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon archive"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>
                    <p>Detalles del Socio.</p>
                </div>                
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Partners")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>ID</label>
                                @Html.DisplayFor(model => model.ID)
                            </div>
                            <div class="field">
                                <label>Nombre</label>
                                @Html.DisplayFor(model => model.Nombre)
                            </div>
                            
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Email</label>
                                @Html.DisplayFor(model => model.Email)
                            </div>
                            <div class="field">
                                <label>Teléfono</label>
                                @Html.DisplayFor(model => model.Telefono)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <div class="field">
                                <label>Tipo de Socio</label>
                                @Html.DisplayFor(model => model.TipoPartner)
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <br />
            
            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario Modifica
                        </th>
                        <th>
                            Fecha Modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaModifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#GeneralModule").addClass("active");
        $("#General_Schema").addClass("show");
        $("#GeneralModule").addClass("expandedList")
    </script>
}
