@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PartnersListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Socios
                </div>
                <p>Crea, Actualiza, Elimina o Busca y Filtra Socios</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","Partners")">
                    <i class="user icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdRestaurants">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Tipo de Socio
                    </th>
                        <th width="300px">Acciones</th>
                 </tr>
            </thead>
            <tbody>
                @{
                    int id = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{id++;}
                            @id
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>                      
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPartner)
                        </td>

                        <td>                           
                             <a class="ui large icon btn-edit button" href="@Url.Action("Update","Partners", new { id=item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeletePartners(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button> 
                            <a class="ui large icon button" href="@Url.Action("Details","Partners", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>                                                       
                                                                                   
                        </td>
                    </tr>
                }
                
                
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 5
        });
    </script>
    <script>
       function DeletePartners(id) {
            const capsula1 = () => {
                var response = ajaxRequest("Partners/Delete?id=" + id, null, "POST");
                
                location.reload();
                
            };
            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrara permanentemente.", "warning", capsula1);

        };
    </script>
}
@section HighlightTile{
    <script>
        $("#SalesModule").addClass("active");
        $("#Sale_Schema").addClass("show");
        $("#SalesModule").addClass("expandedList")
    </script>
}