@model AHM_TOTAL_TRAVEL_WEB.Models.RestaurantListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@try
{
    <div id="frmCreateUser">
        <div class="container card">
            <div class="ui basic segment">
                <div class="ui icon attached message">
                    <i class="icon food"></i>
                    <div class="content">
                        <div class="header text-capitalize">
                            Detalles
                        </div>
                    </div>
                    <div class="right floated content" style="text-align: end;">
                        <a class="ui left labeled icon button" href="@Url.Action("Index", "Restaurant")">
                            Regresar
                            <i class="left arrow icon"></i>
                        </a>
                    </div>
                </div>
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="field">
                            <div class="four fields">
                                <div class="field">
                                    <label>Restaurante</label>
                                    @Html.DisplayFor(model => model.Restaurante)
                                </div>
                                <div class="field">
                                    <label>Partner</label>
                                    @Html.DisplayFor(model => model.Partner)
                                </div>
                                <div class="field">
                                    <label>Partner</label>
                                    @Html.DisplayFor(model => model.Ciudad)
                                </div>
                                <div class="field">
                                    <label>Tipo de menú</label>
                                    Calle @Html.DisplayFor(model => model.Calle), Avenida @Html.DisplayFor(model => model.Avenida)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid three column stackable mt-4">

                    <div class="column">
                        <label class="ui label">Imagenes en fila.</label>
                        <div class="ui segment">
                            <div class="ui middle aligned divided list" id="image-upload-list">

                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">


                            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="RestaurantCarousel" data-auto="false">
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <h3 class="ui horizontal divider header">
                    <i class="folder open icon"></i>
                    Auditoría
                </h3>

                <table class="ui compact selectable celled table mb-4" id="tabla">
                    <thead>
                        <tr>
                            <th>
                                Usuario Creación
                            </th>
                            <th>
                                Fecha Creación
                            </th>
                            <th>
                                Usuario modifica
                            </th>
                            <th>
                                Fecha modifica
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.UsuarioCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FechaCreacion)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UsuarioModifica)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FechaModifica)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
catch (Exception)
{
    <script>location.assign("@Url.Action("Error", "Home")");</script>
}
@section Scripts{

    <script>
        var restaurantFolder = '@ViewData["RestaurantFolder"]';
        var restaurantID = '@ViewData["RestaurantID"]';
    </script>
    <script src="~/js/RestaurantJs/Details.js"></script>
}
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}