@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.RestaurantListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon food"></i>
            <div class="content">
                <div class="header">
                    Restaurantes
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","Restaurant")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdRestaurants">
            <thead>
                <tr>
                    <th>
                        Partner
                    </th>
                    <th>
                        Restaurante
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Partner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad), @Html.DisplayFor(modelItem => item.Colonia), Calle  @Html.DisplayFor(modelItem => item.Calle), Avenida  @Html.DisplayFor(modelItem => item.Avenida)
                        </td>

                        <td>
                            <a href="@Url.Action("Update","Restaurant",new {  id=item.ID})" class="ui large icon btn-edit button">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteRestaurant('@item.ID')">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","Restaurant",new {  id=item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        //TableSearchInput(SearchInput, Table, elemPerPage = 10)
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 10
        });

        function DeleteRestaurant(id) {
            const capsula1 = () => {
                var response = ajaxRequest("Restaurant/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/Restaurant?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrara permanentemente.", "warning", capsula1);

        };
    </script>
}

@section HighlightTile{
    <script>
        $("#RestaurantModule").addClass("active");
        $("#Restaurant_Schema").addClass("show");
        $("#RestaurantModule").addClass("expandedList")
    </script>
}