@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ReservationListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="map marker alternate icon"></i>
            <div class="content">
                <div class="header">
                    Reservaciones
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","Reservation")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdReservacion">
            <thead>
                <tr>
                    <th># de reservación</th>
                    <th>Cliente</th>
                    <th>Fecha Entrada - Fecha Salida</th>
                    <th>Paquete</th>
                    <th>Pago minimo del 40%</th>
                    <th>Precio</th>
                    <th>Cantidad de pagos</th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-value="@item.ID" data-hotel="@item.ReservacionHotelID">
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @string.Concat(item.Nombre, " ", item.Apellido)
                        </td>
                        <td>
                            @string.Concat(item.Fecha_Entrada.GetValueOrDefault().ToString("dd/MM/yyyy"), " - ", item.Fecha_Salida.GetValueOrDefault().ToString("dd/MM/yyyy"))
                        </td>
                        <td>
                            @{
                                if (item.Id_Paquete != null)
                                {
                                        <span>@Html.DisplayFor(modelItem => item.DescripcionPaquete)</span>
                                }
                                else
                                {
                                    <span>Personalizado</span>
                                }
                            }

                        </td>
                        <td>
                            @{
                                if (item.ConfirmacionPago == true)
                                {
                                    <span class="ui green label">Realizado</span>
                                    
                                }
                                else
                                {
                                    <span class="ui blue label">Pendiente</span>
                                    
                                }
                                
                            }
                        </td>
                        <td>
                            L.@Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountOfPayments)/@Html.DisplayFor(modelItem => item.CantidadPagos)
                        </td>
                        
                        <td>
                            <a class="ui large icon btn-edit button" id="UpdateBottomDsTr" href="@Url.Action("Update", "Reservation", new { id=item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteReservation(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "Reservation", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>


<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Registro de pago
    </div>
    <form asp-action="Create" asp-controller="RegistrationPayments" method="post" id="createPaymentForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label># de reservación</label>
                            <input name="Resv_ID" id="Resv_ID" class="form-control" readonly />

                        </div>
                        <div class="required field">
                            <label>Forma de pago</label>
                            <select class="ui search dropdown" name="TiPa_ID" id="TiPa_ID">
                                <option value="">Selecciona paquete</option>
                            </select>

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label>Monto</label> 
                            <input type="number" min="1" name="RePa_Monto" id="RePa_Monto" class="form-control" />

                        </div>
                        <div class="required field">
                            <label>Fecha</label>
                            <input type="date" name="RePa_Fecha" id="RePa_FechaPago" value="10/24/2022" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un Registro de pago
    </div>
    <form asp-action="Update" asp-controller="RegistrationPayments" id="updatePaymentsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label># Número de factura</label>
                            <input name="RePa_ID" id="RePa_ID" class="form-control" readonly />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label># de Reservación</label>
                            <input name="resv_ID" id="Resv_ID" class="form-control" readonly/>

                        </div>
                        <div class="required field">
                            <label>Forma de pago</label>
                            <select class="ui dropdown" name="TiPa_ID" id="TiPa_ID">
                                <option value="">Selecciona paquete</option>
                            </select>

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label>Cantidad</label>
                            <input type="number" min="1" name="RePa_Monto" id="RePa_Monto" class="form-control" />

                        </div>
                        <div class="required field">
                            <label>Fecha</label>
                            <input type="date" name="RePa_Fecha" id="RePa_FechaPago" value="10/24/2022" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>


@section Scripts{ 
<script src="~/js/ReservationJs/Index.js"></script>
}
@section HighlightTile{
    <script>

        $("#ReservationModule").addClass("active");
        $("#ReservationModule").addClass("expandedList");
        $("#ReservationModule").prop("aria-expanded");
        $("#ReservationModule").attr("aria-expanded", "true");

        $("#Reservation_Schema").addClass("show");

        $("#ReservationTile").addClass("activeTile");
    </script>
}