@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CityListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        .ui.modal {
            left: auto !important;
            top: auto !important;
            height: auto !important;
        }

        table thead tr th {
            background-color: #2b2b2b;
            color: white;
        }
    </style>
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Ciudad
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createCity" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>
        </div>

        <table id="grdCities" class="display ui compact selectable celled table" style="width:100%; margin-top:30px;">
            <thead>
                <tr>
                    <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 37px;"></th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr data-value="@item.ID" data-hotel="@item.ID">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>
                        <td class="Acciones">
                            <a class="ui large icon btn-edit button" href="@Url.Action("Update", "City", new { City_ID = item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>

                            <a class="ui large icon button" href="@Url.Action("Details", "City", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<br>

@*//////////////////////////////////////////////////////MODAL CREAR ////////////////////////////////////////////////////////////////////////////////////////*@

<div class="ui modal" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una ciudad
    </div>
    <form asp-action="Create" asp-controller="City" id="createCityform">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Ciudad</label>
                            <input id="ciud_Descripcion" name="ciud_Descripcion" placeholder="Ciudad" />
                        </div>
                        <div class="required field">
                            <label class="ui label">País</label>
                            <select id="pais_ID" name="pais_ID" class="ui dropdown search" asp-items="ViewBag.pais_ID">
                                <option value="">Seleccione un pais</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="sendCity">Guardar</button>
        <button class="ui button" id="closeCity">Cerrar</button>
    </div>

</div>


@section Scripts{
    <script src="~/js/CityJs/City.js"></script>
    <script src="~/js/CityJs/Index.js"></script>



    <script>

        //$(document).ready(function () {
        //    $("#Ciud_ID").hide();

        //});
        //function GetCity(id) {

        //    var CityModel = CityListViewModel;
        //    var request = ajaxRequest("https://totaltravel.somee.com/API/Cities/Find?Id=" + id);
        //    var ciudad = request.data.ciudad;
        //    CityModel.id = request.data.id;
        //    CityModel.ciudad = request.data.ciudad;
        //    CityModel.iD_Pais = request.data.iD_Pais;

        //    $("#Ciud_ID").val(CityModel.id);
        //    $("#ciud_Descrip").val(CityModel.ciudad);
        //    SetDropDownValue($("#pais_Id"), CityModel.iD_Pais);


        //    $("#modalUpdate").modal('show');
        //}

        //$("#sendEditCity").click(() => {


        //    validateArrayForm = [
        //        { validateMessage: "Ingrese una ciudad.", Jqueryinput: $("#ciud_Descrip") },
        //        { validateMessage: "Seleccione un país.", Jqueryinput: $("#pais_Id") },
        //    ];

        //    // retorna bool
        //    const ValidateFormStatus = ValidateForm(validateArrayForm);

        //    if (ValidateFormStatus) {

        //        var City = CityListViewModel;
        //        City.id = parseInt($('#Ciud_ID').val());
        //        City.city_city = $('#ciud_Descrip').val();
        //        City.ciud_UsuarioCreacion = City.id;

        //        var responseAddress = ajaxRequest("https://totaltravel.somee.com/API/Cities/Update?id=" + City.id, City, "PUT");
        //        var CityID;
        //        if (responseAddress.code == 200) {

        //            window.location.href = '/Address?success=true';
        //        }

        //    }

        //});


        //$("#closeEditCity").click(() => {
        //    $(".ui.modal").modal('hide');
        //});




    </script>>
}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}

