@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CityListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Ciudad
                </div>
                <p>Crear, Editar, Eliminar o filtrar por Id.</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createCity" class="ui small primary labeled icon button"><i class="user icon"></i>Nuevo</button>

            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdCity">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pais)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioCrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioModifica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaModifica)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioCrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaModifica)
                        </td>
                        <td>
                            @*<a id="update" class="ui large icon positive button"><i class="pencil alternate icon"></i></a>*@

                            <button class="ui large icon positive button" id="UpdateBottomCity" onclick="GetCity(@item.ID)">
                                <i class="pencil alternate icon"></i>
                            </button>
                            <a class="ui large icon yellow button" href="@Url.Action("Details", "City", new { id=item.ID })">
                                <i class="folder open outline icon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@*//////////////////////////////////////////////////////MODAL CREAR ////////////////////////////////////////////////////////////////////////////////////////*@

<div class="ui modal" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una ciudad
    </div>
    <form asp-action="Create" asp-controller="City" id="createCityform">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="field">
                            <select id="pais_ID" name="pais_ID" class="ui dropdown search" asp-items="ViewBag.pais_ID">
                                <option value="">Seleccione un pais</option>
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></label>
                        </div>
                        <div class="field">
                            <input id="ciud_Descripcion" name="ciud_Descripcion" placeholder="Ciudad" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCity"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeCity">Cerrar</button>
        <button class="ui button" id="sendCity">Guardar</button>
    </div>

</div>



@*//////////////////////////////////////////////////////MODAL update ////////////////////////////////////////////////////////////////////////////////////////*@

<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Edita una ciudad
    </div>
    <form asp-action="Update" asp-controller="City" id="updateCityform">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <input name="Ciud_ID" id="Ciud_ID" />
                            <input id="ciud_Descripcion" name="ciud_Descripcion" placeholder="Ciudad" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCity"></label>
                        </div>
                        <div class="field">
                            <select id="pais_ID" name="pais_ID" class="ui dropdown search" asp-items="ViewBag.pais_ID">
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeEditCity">Cerrar</button>
        <button class="ui button" id="sendEditCity">Guardar</button>
    </div>

</div>



@section Scripts{
    <script src="~/js/CityJs/City.js"></script>
    <script src="~/js/CityJs/Update.js"></script>
}


