@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CityListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCrea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCrea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModifica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModifica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModifica)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
