@model AHM_TOTAL_TRAVEL_WEB.Models.CityListViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Actualizar restaurante
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "City")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Pais</label>
                                    <select id="pais_ID" class="ui dropdown search" asp-items="ViewBag.CountriesList">
                                        <option value="">Seleccione un partner</option>
                                    </select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Nombre de ciudad</label>
                                    <input id="ciud_Descripcion" value="@Model.Ciudad" placeholder="Nombre de ciudad" />
                                </div>

                            </div>
                        </div>

                        <!-- suburbs table -->
                        <table class="ui compact selectable celled table" id="grdCity">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                                <input type="button" value="Guardar" onclick="updateRestaurant()" class="btn btn-edit ui positive button" />
                                <a type="button" href="@Url.Action("Index", "City")" class="ui button mb-3 ms-3">Cancelar</a>
</div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script>

        const folderName = '@ViewData["RestaurantFolder"]';
        const restaurantID = '@ViewData["RestaurantID"]';
        const countID = '@ViewData["PaisID"]';
        const ciudID = '@ViewData["CiudadID"]';
        const coloID = '@ViewData["ColoID"]';
        const partID = '@ViewData["PartID"]';
    </script>
    <script src="~/js/RestaurantJs/Update.js"></script>

}
