@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ReservationTransportationListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Reservacion Transporte
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","ReservationTransportation")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdReservationTransportation">
            <thead>
                <tr>
                    <th>
                        Capacidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Reservacion 
                    </th>
                    <th>
                        Asiento
                    </th>
                    <th>
                        Cancelado
                    </th>
                    <th>
                        Fecha Cancelado
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asientos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cancelado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Cancelado)
                        </td>
                        

                        <td>

                            <a href="@Url.Action("Update","Restaurant",new {  id=item.Id})" class="ui large icon btn-edit button">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteRestaurant('@item.Id')">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","Restaurant",new {  id=item.Id})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>


@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdReservationTransportation tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdReservationTransportation").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdReservationTransportation").paginationTdA({
            elemPerPage: 10
        });
    </script>
}


  