@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TypesActivitiesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Tipos de Actividades
                </div>
                <p>Crea, Actualiza, Elimina o Busca y Filtra Tipos de Actividades</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","TypesActivities")">
                    <i class="user icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdRestaurants">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                        <th width="300px">Acciones</th>
                 </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>

                        <td>
                             <a class="ui large icon btn-purple button" href="@Url.Action("Update","TypeActivities", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg"></i>
                            </a>
                            <a class="ui large icon negative button" href="@Url.Action("Details","TypeActivities", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg"></i>
                            </a>                                                       
                            <button class="ui large icon button" onclick="DeleteDefaultPackage(@item.ID)">
                                <i class="trash alternate icon"></i>
                            </button>        
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 5
        });
    </script>
}
