@model AHM_TOTAL_TRAVEL_WEB.Models.categoryroomsListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="building icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles de categoría habitación
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "CategoriesRooms")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="three fields">

                            <div class="field">
                                <label>Descripción</label>
                                @Html.DisplayFor(model => model.Descripcion)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <h3 class="ui horizontal divider header">
            <i class="folder open icon"></i>
            Auditoría
        </h3>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Usuario Creación
                    </th>
                    <th>
                        Fecha Creación
                    </th>
                    <th>
                        Usuario Modifica
                    </th>
                    <th>
                        Fecha Modifica
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.UsuarioCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UsuarioModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FechaModifica)
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
@section HighlightTile{
    <script>
        $("#HotelModule").addClass("active");
        $("#Hotel_Schema").addClass("show");
        $("#HotelModule").addClass("expandedList")
    </script>
}
