@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesExtrasListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        .titulo {
            position: absolute;
            top: 0;
            width: 100%;
            background: rgb(238,245,249);
            background: linear-gradient(0deg, rgba(238,245,249,1) 4%, rgba(203,191,252,1) 24%, rgba(139,105,184,1) 60%, rgba(109,73,157,1) 100%);
            color: #fff;
            height: 40%;
            text-align: center;
        }

        h1 {
            margin-top: 2% !important;
        }

        .container {
            max-width: 95%;
            margin: -8.875em 1.5em;
            top: 0;
            background-color: #f4fafd;
        }

        .content {
            margin: 8.125em 1.5em;
        }

        .ui.attached.segment {
            background-color: transparent;
            border: none;
        }

        #img {
            margin: auto;
            border: 1px solid black;
            z-index: 80;
            height: auto;
            max-height: 230px !important;
        }
        h3{
            margin:auto;
        }
    </style>
}

<div class="titulo">
</div>
    <img id="img" class="ui medium circular image" src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/temas/test-madurez_1.jpg">
<div class="container card">
    <div class="ui basic segment">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Socio</label>
                            Nombre partner
                        </div>
                        <div class="field">
                            <label>Teléfono</label>
                            9645-6526
                            @*@ViewData["Telefono"]*@
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>E-mail</label>
                            holpartner@gmail.com
                            @*@ViewData["Email"]*@
                        </div>
                        <div class="field">
                            <label>Dirección</label>
                            Calle 9 Sur, Avenida 1, Colonia Kennedy, Ciudad de El Progreso, nose
                            @*@ViewData["DireccionExacta"]*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

@section Scripts{
    <script src="~/js/ModuleRestaurantsJs/Carrusel.js"></script>
}









@*<div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Partner)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID_Partner)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Partner)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Partner)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CiudadID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CiudadID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Actividad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID_Actividad)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Actividad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Actividad)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Crea)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID_Crea)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageURL)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UsuarioCrea)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UsuarioCrea)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Modifica)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID_Modifica)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UsuarioModifica)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UsuarioModifica)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FechaModifica)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FechaModifica)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
