@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DestinationsTransportationsListViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="map marker alternate icon"></i>
            <div class="content">
                <div class="header">
                    Destinos Transportes
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createDestinationsTransportations" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Ciudad Salida
                    </th>
                    <th>
                        Ciudad Destino
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CiudadSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CiudadDestino)
                        </td>

                        <td>
                            <button class="ui large icon btn-edit button" id="UpdateBottomDsTr" onclick="editar(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon btn-delete button" onclick="DeleteDsTr(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "DestinationsTransportations", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <div class="header">
        Ingresa un Destino Transporte
    </div>
    <form asp-action="Create" asp-controller="DestinationsTransportations" id="createDestinationsTransportationsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Ciudad Salida</label>
                            <select id="CiudadSalida" name="DsTr_CiudadSalida" class="ui dropdown search" asp-items="ViewBag.DsTr_CiudadSalida">
                                <option value="">Seleccione la ciudad de salida</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Ciudad Destino</label>
                            <select id="CiudadDestino" name="DsTr_CiudadDestino" class="ui dropdown search" asp-items="ViewBag.DsTr_CiudadDestino">
                                <option value="">Seleccione la ciudad de destino</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>


<div class="ui modal longer" id="modalUpdate">
    <div class="header">
        Actualiza un Destino Transporte
    </div>
    <form asp-action="Update" asp-controller="DestinationsTransportations" id="updateDestinationsTransportationsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="DsTr_ID" name="DsTr_ID" style="visibility:hidden" />
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Ciudad Salida</label>
                            <select id="CiudadSalida" name="DsTr_CiudadSalida" class="ui dropdown search" asp-items="ViewBag.DsTr_CiudadSalida">
                                <option value="">Seleccione la ciudad de salida</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Ciudad Destino</label>
                            <select id="CiudadDestino" name="DsTr_CiudadDestino" class="ui dropdown search" asp-items="ViewBag.DsTr_CiudadDestino">
                                <option value="">Seleccione la ciudad de destino</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#Transport_Schema").addClass("show");
        $("#TransportModule").addClass("expandedList")
    </script>
}

@section Scripts{
    <script src="~/js/DestinationsTransportationsJs/Create.js"></script>
    <script src="~/js/DestinationsTransportationsJs/Delete.js"></script>
}