<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="../assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <!-- Custom stylesheet - for your changes-->

    <link rel="stylesheet" href="../assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!--Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @RenderSection("CSS", required: false)
</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header z-index-50">
            <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
                <!-- Search Box-->
                <div class="search-box shadow-sm">
                    <button class="dismiss d-flex align-items-center">
                        <svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#close-1"> </use>
                        </svg>
                    </button>
                    <form id="searchForm" action="#" role="search">
                        <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                    </form>
                </div>
                <div class="container-fluid w-100">
                    <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand -->
                            <a class="navbar-brand d-none d-sm-inline-block" href="@Url.Action("Index","Home")">
                                <div class="brand-text d-none d-lg-inline-block"><img src="../assets/img/logo-AHM-Fondo-Morao.png" width="45px" height="45px" alt="imagen de logo"><span>Total</span><strong>Travel</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center">
                                <a id="search" href="#">
                                    <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                        <use xlink:href="#find-1"> </use>
                                    </svg>
                                </a>
                            </li>
                            <!-- Notifications-->
                            <!-- Messages -->
                            <!-- Logout    -->
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Login","Home");">
                                    <span class="d-none d-sm-inline">Logout</span>
                                    <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                        <use xlink:href="#security-1"> </use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar z-index-40">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center py-4 px-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img class="avatar shadow-0 img-fluid rounded-circle" src="../assets/img/avatar-1.jpg" alt="...">
                        <div class="ms-3 title">
                            <h1 class="d-none d-md-block dropdown-toggle h4 mb-2">Mark Stephen</h1>
                        </div>
                    </a><!-- End Profile Iamge Icon -->
                  
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" id="compras" asp-area="" asp-controller="Home" asp-action="AccountInfo">
                                <i class="bi bi-person"></i>
                                <span>Mi Cuenta</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" id="compras" asp-area="" asp-controller="Home" asp-action="PayHistory">
                                <i class="bi bi-person"></i>
                                <span>Historial de compras</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->

                </div>
                <!-- Sidebar Navigation Menus-->
                <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Principal</span>
                <ul class="list-unstyled py-4">
                    <li class="sidebar-item" id="homenb">
                        <a class="sidebar-link" href="@Url.Action("Index","Home")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#real-estate-1"> </use>
                            </svg>Inicio
                        </a>
                    </li>
                  
                    <li class="sidebar-item" id="predetb">
                        <a class="sidebar-link" href="@Url.Action("Index","Especifico")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#portfolio-grid-1"> </use>
                            </svg>Compra un paquete de viaje
                        </a>
                    </li>
                    <li class="sidebar-item" id="personb">
                        <a class="sidebar-link" href="@Url.Action("Index","Personalizados")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#portfolio-grid-1"> </use>
                            </svg>Haz tu propio paquete de viaje
                        </a>
                    </li>
                    @*<li class="sidebar-item" id="historialb">
<<<<<<< Updated upstream
                <a class="sidebar-link" href="@Url.Action("Historial","Compra")">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                        <use xlink:href="#portfolio-grid-1"> </use>
                    </svg>Historial de compra
                </a>
            </li>*@
                </ul>

                <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Admin</span>
                <ul class="list-unstyled py-4">
                    <li class="sidebar-item" id="paisesb">
                        <a class="sidebar-link" href="@Url.Action("Index","Paises")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#sales-up-1"> </use>
                            </svg>Gestionar Paises
                        </a>
                    </li>
                    <li class="sidebar-item" id="ciudadb">
                        <a class="sidebar-link" href="@Url.Action("Index","Ciudad")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#sales-up-1"> </use>
                            </svg>Gestionar Ciudades
                        </a>
                    </li>

                    <li class="sidebar-item" id="predetbb">
                        <a class="sidebar-link" href="@Url.Action("Index","ActividadesController1")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#sales-up-1"> </use>
                            </svg>Actividades
                        </a>
                    </li>

                    <li class="sidebar-item" id="transportesnb">
                        <a class="sidebar-link" href="@Url.Action("Index","Transporte")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#sales-up-1"> </use>
                            </svg>Gestionar Transportes
                        </a>
                    </li>
                    <li class="sidebar-item" id="restaurantesnb">
                        <a class="sidebar-link" href="@Url.Action("Restaurantes","Home")">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#sales-up-1"> </use>
                            </svg>Gestionar Restaurantes
                        </a>
                    </li>
                </ul>
                <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Reportes</span>
                <ul class="list-unstyled py-4">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse">
                            <svg class=" svg-icon-heavy me-xl-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                <path d="M21 5c0-1.103-.897-2-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5zM5 19V5h14l.002 14H5z"></path>
                                <path d="M7 7h1.998v2H7zm4 0h6v2h-6zm-4 4h1.998v2H7zm4 0h6v2h-6zm-4 4h1.998v2H7zm4 0h6v2h-6z">
                                </path>
                            </svg> Generar Reporte
                        </a>
                        <ul class="collapse list-unstyled " id="exampledropdownDropdown">
                            <li><a class="sidebar-link" href="@Url.Action("Index","Reportes")">Hoteles</a></li>
                            <li><a class="sidebar-link" href="@Url.Action("Index","Reportes")">Actividades</a></li>
                            <li><a class="sidebar-link" href="@Url.Action("Index","Reportes")">Restaurantes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="content-inner w-100">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- JavaScript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/Chart.min.js"></script>
    <script src="../assets/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="../assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="../assets/js/charts-home.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/site.js"></script>
    <!-- Main File-->
    <script src="../assets/js/front.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script>
        $('.ui.dropdown').dropdown();
    </script>
</body>
</html>




