@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.HotelsActivitiesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon bicycle"></i>
            <div class="content">
                <div class="header">
                    Hotel Actividades
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createHotelsActivities" class="ui small primary labeled icon btn-edit button"><i class="plus icon"></i>Nuevo</button>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table id="grdHotelActivities" class="display ui compact selectable celled table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        Actividad
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Hotel
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actividad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HotelNombre)
                        </td>


                        <td>
                            <button class="ui large icon btn-edit button" id="UpdateBottomActivities" onclick="editar(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon negative button" onclick="DeleteHotelsActivities(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","HotelsActivities",new {  id=item.ID})" class="ui large icon button"><i class="bi bi-info-circle fa-lg icon-crud"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una Actividades de hotel
    </div>
    <form asp-action="Create" asp-controller="HotelsActivities" id="createHotelsActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                   
                    <div class="two fields">
                        <div class="field">
                            <input id="Descripcion" name="HoAc_Descripcion" placeholder="Descripcion de la actividad hotel" />
                        </div>
                        <div class="field">
                            <input type="number" min="1" oninput="this.value = Math.abs(this.value)" id="Precio" name="HoAc_Precio" placeholder="Precio de la actividad hotel" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <select id="tHoTe_ID" name="HoTe_ID" class="ui dropdown search" asp-items="ViewBag.Hote_ID">
                                <option value="">Seleccione el Hotel</option>
                            </select>
                        </div>
                        <div class="field">
                            <select id="tActv_ID" name="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                                <option value="">Seleccione la actividad</option>
                            </select>
                        </div>


                    </div>
                    <div class="field">
                        <input id="file" type="file" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeHotelsActivities">Cerrar</button>
        <button class="ui button" id="sendHotelsActivities" onclick="validar()">Guardar</button>
    </div>
</div>


<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un tipo de actividad
    </div>
    <form asp-action="Update" asp-controller="HotelsActivities" id="updateHotelsActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="id" style="display:none" />
                <div class="two fields">
                    <div class="field">
                        <input id="Descripcion_up" name="HoAc_Descripcion" placeholder="Descripcion del menu" />
                    </div>
                    <div class="field">
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" id="Precio_up" name="HoAc_Precio" placeholder="Precio del menu" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <select id="tHoTe_ID_up" name="HoTe_ID" class="ui dropdown search" asp-items="ViewBag.Hote_ID">
                            <option value="">Seleccione el Hotel</option>
                        </select>
                    </div>
                    <div class="field">
                        <select id="tActv_ID_up" name="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                            <option value="">Seleccione la actividad</option>
                        </select>
                    </div>

                </div>
                <div class="field">
                    <input id="file_up" type="file" />
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeEditHotelsActivities">Cerrar</button>
        <button class="ui button" id="sendEditHotelsActivities" onclick="actualizar()">Guardar</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/HotelsActivities/Create.js"></script>
    <script src="~/js/ActivitiesExtraJs/Update.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }
        // ----------------------------------- EVENTS ------------------------------------
        $(document).ready(function () {

            var table = $("#grdHotelActivities").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {},
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });

        //------------------------------------Funciones------------------------

        function DeleteHotelsActivities(id) {
            const capsulaha = () => {
                ajaxRequest("/HotelsActivities/Delete?id=" + id, null, "POST")         
                    window.location.href = '/HotelsActivities?success=true';

            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", capsulaha);

        };
    </script>
}
    @section HighlightTile{
    <script>

        $("#HotelModule").addClass("active");
        $("#HotelModule").addClass("expandedList");
        $("#HotelModule").prop("aria-expanded");
        $("#HotelModule").attr("aria-expanded", "true");

        $("#Hotels_Schema").addClass("show");

        $("#HotelsActivitiesTile").addClass("activeTile");
    </script>
    }

