@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.HotelsMenuListViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Hoteles Menu
                </div>
                <p>Create, Update, Delete or Search and Filter Users.</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createHotelsMenu" class="ui small primary labeled icon button"><i class="user icon"></i>Nuevo</button>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Hotel
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Menu
                    </th>
                    <th>
                        Precio
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>


                        <td>
                            <button class="ui large icon positive button" id="UpdateBottomActivities" onclick="GetActivities(@item.ID)">
                                <i class="pencil alternate icon"></i>
                            </button>
                            <button class="ui large icon negative button" onclick="DeleteActividad(@item.ID)">
                                <i class="trash alternate icon"></i>
                            </button>
                            <button class="ui large icon yellow button">
                                <i class="folder open outline icon"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una Menu de hotel
    </div>
    <form asp-action="Create" asp-controller="HotelsMenu" id="createHotelsMenuForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <label></label>
                    <div class="two fields">
                        <div class="field">
                            <input id="Descripcion" name="HoMe_Descripcion" placeholder="Descripcion del menu" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatord"></label>
                        </div>
                        <div class="field">
                            <input id="Precio" name="HoMe_Precio" placeholder="Precio del menu" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatord"></label>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <select id="tHoTe_ID" name="HoTe_ID" class="ui dropdown search" asp-items="ViewBag.Hote_ID">
                                <option value="">Seleccione el Hotel</option>
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipoActividad"></label>
                        </div>
                        <div class="field">
                            <select id="tTime_ID" name="Time_ID" class="ui dropdown search" asp-items="ViewBag.Time_ID">
                                <option value="">Seleccione el Menu</option>
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipoActividad"></label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeHotelsMenu">Cerrar</button>
        <button class="ui button" id="sendHotelsMenu" onclick="validar()">Guardar</button>
    </div>
</div>

<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un tipo de menú
    </div>
    <form asp-action="Update" asp-controller="Activities" id="updateActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="two fields">
                    <div class="field">
                        <input name="Actv_ID" id="Actv_ID" />
                        <input id="ActividadUpdate" name="actv_Descripcion" placeholder="Descripcion de la Actividad" />
                        <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorActividadUpdate"></label>
                    </div>
                    <div class="field">
                        <select id="TiPoAc_IDUpdate" name="tiAc_ID" class="ui dropdown search" asp-items="ViewBag.TiAc_ID">
                            <option value="">Seleccione el tipo de Actividad</option>
                        </select>
                        <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipoActividadUpdate"></label>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeEditActivities">Cerrar</button>
        <button class="ui button" id="sendEditActivities">Guardar</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/HotelsMenu/Create.js"></script>
    <script src="~/js/ActivitiesExtraJs/Update.js"></script>
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 5
        });

        //------------------------------------Funciones------------------------

        function DeleteActividad(id) {
            const capsula1 = () => {
                ajaxRequest("/Activities/Delete?id=" + id, null, "POST")
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", capsula1);

        };
    </script>
}
