@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CountriesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="list alternate outline icon"></i>
            <div class="content">
                <div class="header">
                    Paises
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <div class="eight wide column">
                    <button id="createCountries" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdPaises">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>País</th>
                    <th>@Html.DisplayNameFor(model => model.Nacionalidad)</th>
                    <th width="300px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-value="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nacionalidad)
                        </td>

                        <td>
                            <button class="ui large icon btn-edit button" onclick="editar(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon btn-delete button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "Countries", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Pais
    </div>
    <form asp-action="Create" asp-controller="Countries" id="createCountriesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label>Nombre</label>
                            <input name="Pais_Descripcion" id="Pais_Descripcion" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaDe"></span>
                        </div>
                        <div class="required field">
                            <label>Código</label>
                            <input name="Pais_Codigo" id="Pais_Codigo" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaCo"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="required field">
                            <label>Nacionalidad</label>
                            <input name="Pais_Nacionalidad" id="Pais_Nacionalidad" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaNa"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>


<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un País
    </div>
    <form asp-action="Update" asp-controller="Countries" id="updateCountriesForm">
        <div class="ui form attached fluid segment">
            <div class="content">

                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label>Nombre</label>
                            <input name="Pais_Descripcion" id="Pais_Descripcion" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaDe"></span>
                        </div>
                        <div class="required field">
                            <label>Código</label>
                            <input name="Pais_Codigo" id="Pais_Codigo" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaCo"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="required field">
                            <label>Nacionalidad</label>
                            <input name="Pais_Nacionalidad" id="Pais_Nacionalidad" class="form-control" />
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPaNa"></span>
                        </div>
                    </div>
                    <div class="required field">
                        <input id="Pais_ID" name="Pais_ID" hidden />
                    </div>
                </div>

            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>



@section Scripts{
    <script src="~/js/CountriesJS/Index.js"></script>
    <script src="~/js/CountriesJS/Countries.js"></script>
    <script>
        function Delete(id) {
            const capsula1 = () => {
                ajaxRequest("/Countries/Delete?id=" + id, null, "POST")
                location.reload();
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrará permanentemente", "warning", capsula1);


        };


    </script>
}
@section HighlightTile{
    <script>
        $("#GeneralModule").addClass("active");
        $("#General_Schema").addClass("show");
        $("#GeneralModule").addClass("expandedList")
    </script>
}
