@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CountriesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="globe icon"></i>
            <div class="content">
                <div class="header">
                    Países
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <div class="eight wide column">
                    <button id="createCountries" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
                </div>
            </div>
        </div>

        <table id="grdCountry" class="display ui compact selectable celled table" style="width:100%; margin-top:30px;">
            <thead>
                <tr>
                    <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 37px;"></th>
                    <th>ISO</th>
                    <th>Código</th>
                    <th>País</th>
                    <th>Nacionalidad</th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr data-value="@item.ID" data-hotel="@item.ID">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nacionalidad)
                        </td>
                        <td class="Acciones">
                            <a class="ui large icon btn-edit button" href="@Url.Action("Update", "Countries", new { id=item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "Countries", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un País
    </div>
    <form asp-action="Create" asp-controller="Countries" id="createCountriesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">País</label>
                            <input name="Pais_Descripcion" id="Pais_Descripcion" class="form-control" />

                        </div>
                        <div class="required field">
                            <label class="ui label">Código</label>
                            <input name="Pais_Codigo" id="Pais_Codigo" min="1" type="number"  class="form-control" />

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Nacionalidad</label>
                            <input name="Pais_Nacionalidad" id="Pais_Nacionalidad" class="form-control" />

                        </div>
                        <div class="required field">
                            <label class="ui label">ISO</label>
                            <input name="Pais_ISO" id="Pais_ISO" maxlength="2" class="form-control" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn btn-edit ui positive button" id="send" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/CountriesJS/Index.js"></script>
    <script src="~/js/CountriesJS/Countries.js"></script>
    <script src="~/js/CountriesJS/ValidacionesExtra.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }
        function Delete(id) {
            const capsula1 = () => {
                ajaxRequest("/Countries/Delete?id=" + id, null, "POST")
                window.location.href = '/Countries?success=true';
            };

            sweetAlertconfirm("¿Desea eliminar este registro?", "Este registro se borrará permanentemente", "warning", capsula1);


        };


    </script>
}
@section HighlightTile{
    <script>
        $("#GeneralModule").addClass("active");
        $("#GeneralModule").addClass("expandedList");
        $("#GeneralModule").prop("aria-expanded");
        $("#GeneralModule").attr("aria-expanded", "true");

        $("#General_Schema").addClass("show");

        $("#CitiesTile").addClass("activeTile");
    </script>        
}


