@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Transportes
                </div>
                <p>Create, Update, Delete or Search and Filter Users.</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createModal" class="ui small primary labeled icon button">
                    <i class="plus icon"></i> Nuevo
                </button>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Tipo Transporte
                    </th>
                    <th>
                        Nombre Partner
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTransporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombrePartner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>

                        <td>
                            <a class="ui large icon positive button" id="editar" href="@Url.Action("Update", "Transport", new { id=item.ID })">
                                <i class="pencil alternate icon"></i>
                            </a>
                            <a class="ui large icon negative button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon"></i>
                            </a>
                            <a class="ui large icon yellow button">
                                <i class="folder open outline icon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<!--MODAL CREATE -->
<div class="ui modal" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un transporte
    </div>
    <form asp-action="Create" asp-controller="Transport" id="formCreate">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="two fields">
                    <div class="field">
                        <label>Tipo transporte</label>
                        <input name="TiTr_ID" id="TiTr_ID" />
                        <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></label>
                    </div>
                    <div class="field">
                        <label>Partner</label>
                        <input name="Part_ID" id="Part_ID" />
                        <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></label>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Dirección</label>
                        <input name="Dire_ID" id="Dire_ID" />
                        <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></label>
                    </div>
                    <div class="field">
                        <label>Ciudad</label>
                        <select asp-items="ViewBag.Ciudades" name="Ciu_ID" class="ui dropdown search"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="close">Cerrar</button>
        <button class="ui button" id="save">Guardar</button>
    </div>
</div>

@section Scripts{

    <script>
    // ----------------------------------- EVENTS ------------------------------------

    $("#txtSearch").keyup(function () {
        _this = this;
        $.each($("#tabla tbody tr"), function () {
            if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                $(this).hide();
            }
            else {
                $(this).show();
            }
        });

        $("#tabla").paginationTdA({
            elemPerPage: 5
        });
    });

    $("#tabla").paginationTdA({
        elemPerPage: 5
    });

    $("#editar").click(() => {
        $(".ui.modal").modal('show');
    });

    function Delete(id) {
        const capsula1 = () => {
            ajaxRequest("/Transports/Delete?id=" + id, null, "POST")
        };

        sweetAlertconfirm("¿Estás Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrará permanentemente", "warning", capsula1);

    };
</script>
    <!--<script src="~/js/TypeMenusJs/Update.js"></script>-->

}