@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Transportes
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a id="createModal" class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create", "Transport")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Tipo Transporte
                    </th>
                    <th>
                        Nombre Partner
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTransporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombrePartner)
                        </td>
                        <td>
                            Calle @(item.Calle), Avenida @(item.Avenida), Colonia @(item.Colonia), Ciudad de @item.Ciudad
                        </td>
                        <td>
                            <a class="ui large icon btn-edit button" id="editar" href="@Url.Action("Update", "Transport", new { id=item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <a class="ui large icon btn-delete button" onclick="DeleteTransport(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </a>
                            <a class="ui large icon button" href="@Url.Action("Details", "Transport", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#TransportModule").addClass("expandedList");
        $("#TransportModule").prop("aria-expanded");
        $("#TransportModule").attr("aria-expanded", "true");

        $("#Transport_Schema").addClass("show");

        $("#TransportTile").addClass("activeTile");
    </script>
}

@section Scripts{

    <script>
        // -------------------------------------- EVENTS ---------------------------------------

        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#tabla tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#tabla").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#tabla").paginationTdA({
            elemPerPage: 10
        });
    </script>
    
    <script>
        function DeleteTransport(id) {
            const capsula1 = () => {
                var response = ajaxRequest("Transport/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/Transport?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrará permanentemente.", "warning", capsula1);
        };
    </script>

}