@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Transportes
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <a id="createModal" class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create", "Transport")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
        </div>

        <table id="grdTransportes" class="display ui compact selectable celled table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        Tipo Transporte
                    </th>
                    <th>
                        Socio
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTransporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombrePartner)
                        </td>
                        <td>
                            Calle @(item.Calle), Avenida @(item.Avenida), Colonia @(item.Colonia), Ciudad de @item.Ciudad
                        </td>
                        <td>
                            <a class="ui large icon btn-edit button" id="editar" href="@Url.Action("Update", "Transport", new { id=item.ID })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <a class="ui large icon btn-delete button" onclick="DeleteTransport(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </a>
                            <a class="ui large icon button" href="@Url.Action("Details", "Transport", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#TransportModule").addClass("expandedList");
        $("#TransportModule").prop("aria-expanded");
        $("#TransportModule").attr("aria-expanded", "true");

        $("#Transport_Schema").addClass("show");

        $("#TransportTile").addClass("activeTile");
    </script>
}

@section Scripts{

    <script>

        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }


        $(document).ready(function () {

            var table = $("#grdTransportes").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {},
                    {},
                    {}
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });

    </script>
    
    <script>
        function DeleteTransport(id) {
            const capsula1 = () => {
                var response = ajaxRequest("Transport/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/Transport?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrará permanentemente.", "warning", capsula1);
        };
    </script>

}