@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransporteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePartner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransporteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePartner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
