@model AHM_TOTAL_TRAVEL_WEB.Models.TransportViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bus"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Actualizar Transporte
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Transport")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <form>
                <div class="ui form attached fluid segment">
                    <div class="content">
                        @*@Html.HiddenFor(model => model.Tprt_ID)*@
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Partner</label>
                                    <select id="Part_ID" class="ui dropdown search" asp-items="ViewBag.Part_ID"></select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPartner"></span>
                                </div>
                                <div class="required field">
                                    <label>Tipo transporte</label>
                                    <select id="TiTr_ID" class="ui dropdown search" asp-items="ViewBag.TiTr_ID"></select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipoTransporte"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>País</label>
                                    <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID"></select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></span>
                                </div>
                                <div class="required field">
                                    <label>Ciudad</label>
                                    <select id="City_ID" class="ui dropdown search"></select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCiudad"></span>
                                </div>
                            </div>
                        </div>

                        <div class="required field">
                            <label>Actualizar dirección</label>
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Colonia
                                </div>
                                <input type="text" id="Colonia" value="@ViewData["Colonia"]" />
                            </div>
                            <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCol"></span>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <div class="ui labeled input">
                                        <div class="ui label">
                                            Avenida
                                        </div>
                                        <input type="text" id="Avenida" value="@ViewData["Avenida"]" />
                                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorAve"></span>
                                    </div>
                                </div>
                                <div class="required field">
                                    <div class="ui labeled input">
                                        <div class="ui label">
                                            Calle
                                        </div>
                                        <input type="text" id="Calle" value="@ViewData["Calle"]" />
                                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCalle"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Guardar" onclick="updateTransport(@Model.Tprt_ID)" class="ui small btn-purple text-white labeled icon button" />
                    </div>
                </div>
                <div class="ui negative message bottom attached" id="errorDiv">
                    <div class="header">
                        Ha ocurrido un error al realizar la operación.
                    </div>
                    <p>

                    </p>
                </div>
            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/TransportJs/Update.js"></script>
    <script src="~/js/TransportJs/SelectCiudades.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
