
@{
    ViewData["Title"] = "IndexSociosReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<div id="frmPartnersReports" class="container ui segment">
    <div class="ui floating dropdown labeled search icon button" id="cbbPartners">
        <i class="filter icon"></i>
        <span class="text">Filtrar por socios</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>

            @foreach (PartnersListViewModel item in ViewBag.Socios)
            {
                <div class="item" data-value="@item.ID">@item.Nombre</div>
            }
        </div>
    </div>

    <div class="ui floating dropdown labeled search icon button" id="cbbPartner_type">
        <i class="filter icon"></i>
        <span class="text">Filtrar por tipo socios</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>
            @foreach (PartnersListViewModel item in ViewBag.TipoSocios)
            {
                <div class="item" data-value="@item.ID">@item.TipoPartner</div>
            }
        </div>
    </div>

 

    <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_socios(true)">FILTRAR REPORTE</button>
    <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_socios(false)">TRAER TODOS</button>
    <a href="@Url.Action("SociosReportXLS", "Report", new ReportCreationModel{DataSourceIndex= 6, HTMLFile = "SociosReportXLS"} )" class="ui button icon">Excel <i class="file excel icon"></i> </a>

    <div class="ui segment">
        <iframe id="ifrReport" src="" frameborder="0" width="100%" height="680px"></iframe>
    </div>
</div>

@section Scripts{

    <script>
        $(".ui.dropdown").dropdown();
    </script>

    <script>
        const REPORTS_FUNCTIONS = {
            getReport_socios: function (parameter = false) {
                var query = {
                    parameters: {},
                    user_name: Client_User_Name
                };
                if (parameter) {
                   
                    if ($("#cbbPartners .item.selected").length > 0 && $("#cbbPartners .item.selected").attr("data-value")!= 0) {
                        var id_socios = $("#cbbPartners .item.selected").attr("data-value");
                        query.parameters.id = parseInt(id_socios);
                    }
                    else {
                  
                        delete query.parameters["id"];
                    }
                    if ($("#cbbPartner_type .item.selected").length > 0 && $("#cbbPartner_type .item.selected").attr("data-value") != 0 ) {
                        var id_TipoParners = $("#cbbPartner_type .item.selected").attr("data-value");
                        query.parameters.tipoPartner_Id = parseInt(id_TipoParners);
                    }
                    else {

                        delete query.parameters["tipoPartner_Id"];
                    }
                }
                $('#frmPartnersReports #ifrReport').attr('src', `https://totaltravelfileservices.yourgreatbusinesscenter.com/PDFs/Partners_report_pdf.php?query=${JSON.stringify(query)}`);
            },
        }
        REPORTS_FUNCTIONS.getReport_socios(false);
    </script>
}