
@{
    ViewData["Title"] = "IndexReservacionesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
@try
{
<div id="frmReservacionesReports" class="container ui segment">
    <div class="ui floating dropdown labeled search icon button" id="cbbCliente">
        <i class="filter icon"></i>
        <span class="text">Filtrar por cliente</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>

            @foreach (UserListViewModel item in ViewBag.Usuario)
            {
                <div class="item" data-value="@item.ID">@item.Nombrecompleto</div>
            }
        </div>
    </div>
    <div class="ui floating dropdown labeled search icon button" id="cbbPaquetes">
        <i class="filter icon"></i>
        <span class="text">Filtrar por paquete</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>

            @foreach (DefaultPackagesListViewModel item in ViewBag.Paquete)
            {
                <div class="item" data-value="@item.Id">@item.Nombre</div>
            }
        </div>
    </div>

    <div class="ui floating dropdown labeled search icon button" id="cbbHotels">
        <i class="filter icon"></i>
        <span class="text">Filtrar por hotel</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>

            @foreach (HotelListViewModel item in ViewBag.Hoteles)
            {
                <div class="item" data-value="@item.ID">@item.Hotel</div>
            }
        </div>
    </div>

    <div class="ui floating dropdown labeled search icon button" id="cbbPartners">
        <i class="filter icon"></i>
        <span class="text">Filtrar por partner</span>
        <div class="menu">
            <div class="header">
                <i class="tags icon"></i> Filter by tag
            </div>
            <div class="item" data-value="0">Todos</div>

            @foreach (PartnersListViewModel item in ViewBag.Socios)
            {
                <div class="item" data-value="@item.ID">@item.Nombre</div>
            }
        </div>
    </div>

    <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_reservacion(true)">FILTRAR REPORTE</button>
    <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_reservacion(false)">TRAER TODOS</button>
    <a href="@Url.Action("ReservacionesReportXLS", "Report", new ReportCreationModel{DataSourceIndex= 6, HTMLFile = "ReservacionesReportXLS"} )" class="ui button icon">Excel <i class="file excel icon"></i> </a>

    <div class="ui segment">
        <iframe id="ifrReport" src="" frameborder="0" width="100%" height="680px"></iframe>
    </div>
</div>
}
catch (Exception)
{
    <script>location.assign("@Url.Action("Error", "Home")");</script>
}
@section Scripts{

    <script>
        $(".ui.dropdown").dropdown();
    </script>

    <script>
        const REPORTS_FUNCTIONS = {
            getReport_reservacion: function (parameter = false) {
                var query = {
                    parameters: {},
                    user_name: Client_User_Name  
                };
                if (parameter) {
                    if ($("#cbbCliente .item.selected").length > 0 && $("#cbbCliente .item.selected").attr("data-value") != 0) {
                        var id_cliente = $("#cbbCliente .item.selected").attr("data-value");
                        query.parameters.id = parseInt(id_cliente);
                    }
                    else {

                        delete query.parameters["id"];
                    }
                    if ($("#cbbPaquetes .item.selected").length > 0 && $("#cbbPaquetes .item.selected").attr("data-value") != 0) {
                        var id_paquetes = $("#cbbPaquetes .item.selected").attr("data-value");
                        query.parameters.id_paquetes = parseInt(id_paquetes);
                    }
                    else {

                        delete query.parameters["id"];
                    }
                    if ($("#cbbHotels .item.selected").length > 0 && $("#cbbHotels .item.selected").attr("data-value") != 0) {
                        var id_hotel = $("#cbbHotels .item.selected").attr("data-value");
                        query.parameters.id = parseInt(id_hotel);
                    }
                    else {

                        delete query.parameters["id"];
                    }
                    if ($("#cbbPartners .item.selected").length > 0 && $("#cbbPartners .item.selected").attr("data-value") != 0) {
                        var id_socios = $("#cbbPartners .item.selected").attr("data-value");
                        query.parameters.iD_Partner = parseInt(id_socios);
                    }
                    else {

                        delete query.parameters["id"];
                    }
                }
                $('#frmReservacionesReports #ifrReport').attr('src', `https://totaltravelfileservices.yourgreatbusinesscenter.com/PDFs/Reservation_report_pdf.php?query=${JSON.stringify(query)}`);
            },
        }
        REPORTS_FUNCTIONS.getReport_reservacion(false);
    </script>
} 

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}