@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesExtrasListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Restaurantes
                </div>
                <p>Create, Update, Delete or Search and Filter Users.</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple labeled icon button" href="@Url.Action("Create","ActivitiesExtra")">
                    <i class="user icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="grdActividadesExtra">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Partner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actividad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Partner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actividad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>

                    <td>
                        <a href="@Url.Action("Update","ActivitiesExtra",new {  id=item.ID})" class="ui large icon btn-edit button"><i class="pencil alternate icon  icon-crud"></i></a>
                        @*<a href="@Url.Action("DeleteView","Activities",new {  id=item.ID})" class="ui large icon negative button"><i class="trash alternate icon"></i></a>*@
                        <button class="ui large icon btn-delete button" onclick="DeleteActividadExtra(@item.ID)">
                            <i class="trash alternate icon icon-crud"></i>
                        </button>
                        <a class="ui large icon button">
                            <i class="bi bi-info-circle fa-lg icon-crud"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdActividadesExtra tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdActividadesExtra").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdActividadesExtra").paginationTdA({
            elemPerPage: 5
        });

        //------------------------------------Funciones------------------------

        function DeleteActividadExtra(id) {
            const capsula3 = () => {
                ajaxRequest("/ActivitiesExtra/Delete?id=" + id, null, "POST")
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", capsula3);

        };
    </script>
}