@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.MenusListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon food"></i>
            <div class="content">
                <div class="header">
                    Menús
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create","Menus")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>
        <table class="ui compact selectable celled table" id="grdMenus">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurante)
                    </th>
                    <th>
                        Tipo menú
                    </th>
                    <th>
                        Menú
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                           L. @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <a href="@Url.Action("Update","Menus",new {  id=item.ID})" class="ui large icon btn-edit button">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteMenus('@item.ID')">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","Menus",new {  id=item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>

    </div>
</div>
<br>

@section Scripts{
    <script src="~/js/MenusJs/Delete.js"></script>
}
    @section HighlightTile{
    <script>

        $("#RestaurantModule").addClass("active");
        $("#RestaurantModule").addClass("expandedList");
        $("#RestaurantModule").prop("aria-expanded");
        $("#RestaurantModule").attr("aria-expanded", "true");

        $("#Restaurant_Schema").addClass("show");

        $("#MenusTile").addClass("activeTile");
    </script>
    }