@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.MenusListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon food"></i>
            <div class="content">
                <div class="header">
                    Menús
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","Menus")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>
        <table class="ui compact selectable celled table" id="grdMenus">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurante)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <button class="ui large icon btn-edit button">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </button>
                            <button class="ui large icon btn-delete button" onclick="DeleteMenus('@item.ID')">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","Menus",new {  id=item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>

    </div>
</div>
<br>

@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdMenus tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdMenus").paginationTdA({
                elemPerPage: 10
            });
        });

        $("#grdMenus").paginationTdA({
            elemPerPage: 10
        });


        function DeleteMenus(id) {
            const capsula1 = () => {
                var response = ajaxRequest("Menus/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/Menus?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar este registro?", "Este registro se borrara permanentemente.", "warning", capsula1);

        };
    </script>
}