@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.MenusListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon food"></i>
            <div class="content">
                <div class="header">
                    Menús
                </div>
                <p>Crea, actualiza, elimina o busca y filtra .</p>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small primary labeled icon button" href="@Url.Action("Create","Menus")">
                    <i class="user icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>
        <table class="ui compact selectable celled table" id="grdMenus">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurante)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <button class="ui large icon positive button">
                                <i class="pencil alternate icon"></i>
                            </button>
                            <button class="ui large icon negative button">
                                <i class="trash alternate icon"></i>
                            </button>
                            <button class="ui large icon yellow button">
                                <i class="folder open outline icon"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>

    </div>
</div>
<br>

@section Scripts{
    <script>
                // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdMenus tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdMenus").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdMenus").paginationTdA({
            elemPerPage: 5
        });
    </script>
}