@model AHM_TOTAL_TRAVEL_WEB.Models.MenusListViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Actualizar menú
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Menus")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">

                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Menú</label>
                                    <input id="Menu_Nombre" value="@Model.Menu" placeholder="Menú" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <div class="ui right labeled input">
                                        <input type="number" placeholder="Precio"  value="@Model.Precio" id="Menu_Precio">
                                        <div class="ui basic label">.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="required field">
                                <label class="ui label">Descripcion</label>
                                <input id="Menu_Descripcion"  value="@Model.Descripcion" placeholder="Descripcion" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Restaurante</label>
                                    <select id="Rest_ID" class="ui dropdown search" asp-items="ViewBag.Rest_ID">  <option value="">Seleccione un restaurante</option></select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Tipo de menús</label>
                                    <select id="Time_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">  <option value="">Seleccione un tipo de menú</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imagenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <label for="File" class="ui primary button">
                                        Añade una imagen
                                    </label>
                                </div>

                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header" id="MenusCarousel">
                                        <i class="images icon"></i>
                                        Tus imagenes aparecerán aquí.
                                    </div>

                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="MenusCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                            <input type="button" value="Guardar" onclick="updateMenus()" class="btn btn-purple ui positive button mb-3 ms-3" />
                        </div>
                    </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{

    <script>
        var menuFolder = '@ViewData["MenusFolder"]';
        var restauranteID = '@ViewData["RestaurantID"]';
        var tipoMenuID = '@ViewData["TipoMenuID"]';
        var menuID = '@ViewData["MenuID"]';
    </script>
    <script>
        var imagesArray = [];
        $('.ui.dropdown').dropdown();

        SetDropDownValue($("#Rest_ID"), restauranteID);
        SetDropDownValue($("#Time_ID"), tipoMenuID);

        $(document).ready(async function () {
            await GetImage();

        });
        //FUNCIONES QUE SON ESPECIFICAS DEL ACTUALIZAR


        async function GetImage() {
 
            var responseImage = ajaxRequest("https://totaltravel.somee.com/API/RootFiles/GetAllImages?folderName=" + menuFolder)
            if (responseImage.code == 200) {
                var list = responseImage.data
                for (var i = 0; i < list.length; i++) {
                    var imageUrl = list[i].imageUrl;
                  
                    var split = imageUrl.split("/");
                    var fileName = split[split.length - 1];
                    var file = await createBlob(imageUrl)
                        .then(function (data) {
                            return data;
                        });
                    const fileData = await convertImage(file)
                        .then(function (data) {
                            return data;
                        });
                    fileData.fileName = fileName;
                    imagesArray.push(fileData);
                }
                LoadImage();
            }
        }
        //FIN

        $("#File").change(async function () {

            const fileData = await convertImage($("#File").prop("files")[0])
                .then(function (data) {
                    return data;
                });
            imagesArray.push(fileData);
            LoadImage();

        });
        function LoadImage() {

            var MenusCarousel = `<div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="MenusCarousel" data-auto="false"></div>`;
            $("#MenusCarousel").replaceWith(MenusCarousel);
            $("#image-upload-list").html("");

            for (let i = 0; i < imagesArray.length; i++) {
                var HTML_img = document.createElement('img');
                const item = imagesArray[i];

                HTML_img.src = item.src;
                const fileItem =
                    `<div class="item">
                        <div class="right floated content">
                            <button onclick="deleteImage(${i})" class="ui btn-purple icon button">
                                <i class="trash icon"></i>
                            </button>
                        </div>
                        <i class="image big icon"></i>
                        <div class="content text-grap">
                            ${item.fileName}
                        </div>
                    </div>`;

                $("#image-upload-list").append(fileItem);
                $("#MenusCarousel").append(HTML_img);
            }
            $("#MenusCarousel").fotorama();
        }

        function deleteImage(index) {
            imagesArray.splice(index, 1);
            LoadImage();
        }

        function updateMenus() {


            validateArrayForm = [
                { validateMessage: "Ingrese el nombre del menú.", Jqueryinput: $("#Menu_Nombre") },
                { validateMessage: "Ingrese una descripción.", Jqueryinput: $("#Menu_Descripcion") },
                { validateMessage: "Ingrese el precio.", Jqueryinput: $("#Menu_Precio") },
                { validateMessage: "Seleccione un restaurante.", Jqueryinput: $("#Rest_ID") },
                { validateMessage: "Seleccione una tipo menú.", Jqueryinput: $("#Time_ID") }
            ];

            // retorna bool 
            const ValidateFormStatus = ValidateForm(validateArrayForm);

            if (ValidateFormStatus) {
                var data = new FormData();
                data.append("Time_ID", $("#Time_ID").val());
                data.append("Menu_Descripcion", $("#Menu_Descripcion").val());
                data.append("Menu_Nombre", $("#Menu_Nombre").val());
                data.append("Menu_Precio", $("#Menu_Precio").val());
                data.append("Rest_ID", $("#Rest_ID").val());
                data.append("Menu_UsuarioModifica", parseInt(Client_User_ID));

                for (let i = 0; i < imagesArray.length; i++) {
                    data.append("File", imagesArray[i].src);
                }
                var response = uploadFile("https://totaltravel.somee.com/API/Menus/Update?id=" + menuID, data, "PUT"); 
               
                if (response.data.codeStatus > 0) {
                    window.location.href = '/Menus?success=true';
                }

            }
        }

        

    </script>
}

