
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user plus icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear un usuario
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Users")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <form asp-action="Create" asp-controller="Users" method="post" id="updateReservationForm">
                @Html.Hidden("controller",(string)ViewBag.controller)
                @Html.Hidden("action",(string)ViewBag.action)
            <!-- formulario-->
            <div class="ui form attached fluid segment">
                <div class="content">

                    <!-- user info section -->
                    <div class="field">
                        <label class="ui label">Información del usuario</label>
                        <div class="three fields">
                            <div class="required field">
                                <label class="ui label">DNI</label>
                                <input type="text" id="txtDNI" name="txtDNI" placeholder="DNI" runat="server">
                            </div>
                            <div class="required field">
                                <label class="ui label">Nombres</label>
                                    <input type="text" id="txtNombre" name="txtNombre" placeholder="Nombres" runat="server">
                            </div>
                            <div class="required field">
                                <label class="ui label">Apellidos</label>
                                    <input type="text" id="txtApellido" name="txtApellido" placeholder="Apellidos" runat="server">
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="required field">
                            <label class="ui label">Teléfono</label>
                                <input type="text" id="txtTelefono" name="txtTelefono" placeholder="Teléfono" runat="server">
                        </div>
                        <div class="required field">
                            <label class="ui label">Fecha de nacimiento</label>
                            <div class="ui calendar" id="standard_calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                        <input type="text" placeholder="Fecha de nacimiento" name="txtFechaNacimiento"
                                               id="txtFechaNacimiento" runat="server">
                                </div>
                            </div>
                        </div>

                        <div class="required field checkButton_container">
                                <label class="ui label">Sexo</label>
                                <div class="inline fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="rbGenero" value="M" name="rbGenero" runat="server">
                                            <label>Masculino</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="rbGenero" value="F" name="rbGenero" runat="server">
                                            <label>Femenino</label>
                                        </div>
                            <label class="ui label">Sexo</label>
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" id="rbGenero" value="M" name="rbGenero">
                                        <label>Masculino</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" id="rbGenero" value="F" name="rbGenero">
                                        <label>Femenino</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- user adress section -->
                    <div class="field">
                        <label>Dirección del usuario</label>
                        <div class="three fields">
                            <div class="required field">
                                <label class="ui label">Pais</label>
                                    <select class="ui search dropdown" id="cbbPaises" name="cbbPaises" runat="server" asp-items="ViewBag.Counties">
                                    <option value="">Selecciona el país</option>
                                </select>
                            </div>
                            <div class="required field">
                                <label class="ui label">Ciudad</label>
                                <select class="ui search dropdown" id="cbbCiudades" name="cbbCiudades" runat="server">
                                    <option value="">Selecciona la ciudad</option>
                                </select>
                            </div>
                            <div class="required field">
                                <label class="ui label">Colonia</label>
                                <select class="ui search dropdown" id="cbbColonias" name="cbbColonias" runat="server"> 
                                    <option value="">Selecciona la colonia</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">

                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Calle</label>
                                    <div class="ui labeled input">
                                        <div class="ui label">
                                            Calle
                                        </div>
                                            <input type="text" id="txtCalle" name="txtCalle" runat="server">
                                    </div>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Avenida</label>
                                    <div class="ui labeled input">
                                        <div class="ui label">
                                            Avenida
                                        </div>
                                            <input type="text" id="txtAvenida" name="txtAvenida" runat="server">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- user acount section -->
                    <div class="field">
                        <div class="three fields">

                            <div class="required field">
                                <label class="ui label">Correo electrónico</label>
                                <input type="email" id="txtEmail" placeholder="Correo electrónico" name="txtEmail" runat="server">
                            </div>
                            <div class="required field">
                                <label class="ui label">Contraseña</label>
                                <input type="password" id="txtPassword"
                                           placeholder="Contraseña" name="txtPassword" runat="server">
                            </div>
                            <div class="field">
                                    <input type="password" id="txtPasswordConfirm" name="txtPasswordConfirm"
                                           placeholder="Confirmar contraseña" runat="server">
                            </div>
                        </div>
                    </div>
                    @{
                        if (ViewBag.isRedirected)
                        {
                                        <!-- role adress section -->
                                        <div class="ui segment">
                                            <div class="field">
                                                <label>Agrega un rol al usuario</label>
                                                <div class="grouped fields">
                                                    <div class="field">
                                                        <div class="ui toggle checkbox">
                                                            <input type="checkbox" id="checkAdmin" tabindex="0" class="hidden">
                                                            <label>Administrador</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="ui toggle checkbox">
                                                            <input type="checkbox" id="checkPartner" tabindex="0" class="hidden">
                                                            <label>Socio</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="ui toggle checkbox">
                                                            <input type="checkbox" id="checkExistingPartner" tabindex="0"
                                                               class="hidden" disabled>
                                                            <label>Socio ya existente</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- find partner section -->
                                        <div id="frmSelectPartner">

                                            <div class="field">
                                                <label>Selecciona un socio</label>
                                                <div class="fields">
                                                    <div class="six wide required field">
                                                        <label class="ui label">Tipo de socio</label>
                                                        <select class="ui dropdown" id="cbbTipoPartner" asp-items="ViewBag.PartnersTypes">
                                                            <option value="">Selecciona un tipo de socio</option>
                                                        </select>
                                                    </div>
                                                    <div class="six wide required field">
                                                        <label class="ui label">Socio</label>
                                                        <select class="ui dropdown" id="cbbPartners">
                                                            <option value="">Selecciona un socio)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- create partner section -->
                                        <div id="frmCreatePartner">
                                            <div class="field">
                                                <label>Información del socio</label>
                                                <div class="four fields">
                                                    <div class="required field">
                                                        <label class="ui label">Tipo de socio</label>
                                                        <select class="ui dropdown" id="cbbTipoPartner" asp-items="ViewBag.PartnersTypes">
                                                            <option value="">Selecciona una tipo de socio</option>
                                                        </select>
                                                    </div>
                                                    <div class="required field">
                                                        <label class="ui label">Nombre</label>
                                                        <input type="text" id="txtPartnerName"
                                                           placeholder="Nombre del socio">
                                                    </div>
                                                    <div class="required field">
                                                        <label class="ui label">Correo electrónico</label>
                                                        <input type="text" id="txtPartnerEmail"
                                                           placeholder="Correo eletrónico">
                                                    </div>
                                                    <div class="required field">
                                                        <label class="ui label">Teléfono</label>
                                                        <input type="text" id="txtPartnerPhone"
                                                           placeholder="Teléfono">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                        }
                    }

                        @{
                            if (ViewBag.isRedirected)
                            {
                               
                                string controller = ViewBag.controller;
                                string action = ViewBag.action;
                                

                                <input type="button" class="ui btn-edit text-white button" id="tbnCreateUserRedirected" value="Guardar" />
                                //Create a button that redirect to the previous page
                                
                                <a class="ui button" href="@Url.Action(action: action, controller: controller)">Cancelar</a>
                                
                                        
                                
                            }
                            else
                            { 
                                <div class="ui btn-edit text-white button" tabindex="0" onclick="con">Guardar</div>
                                <div class="ui button" tabindex="0">Cancelar</div>
                            }
                        }
                    @{
                        if (ViewBag.isRedirected)
                        {

                            <input type="submit" class="ui btn-edit text-white button" value="Guardar" />
                            //Create a button that redirect to the previous page
                            <a class="ui button" href="@Url.Action("Create", "Reservation")">Cancelar</a>
                        }
                        else
                        {
                            <div class="ui btn-edit text-white button" tabindex="0" id="tbnCreateUser">Guardar</div>
                            <a class="ui button" href="@Url.Action("Index", "Users")">Cancelar</a>
 
                        }
                    }
                </div>
            </div>
            </form>
            
            <div class="ui negative attached message" id="msgErrorForm">
                <div class="header">
                    Ha ocurrido un error, intentelo de nuevo.
                </div>
                <p></p>
            </div>
            <!-- fin formulario-->
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/UsersJs/Create.js"></script>
    <script>
        
    </script>
}
@section HighlightTile{
    <script>
        $("#AccessModule").addClass("active");
        $("#Access_Schema").addClass("show");
        $("#AccessModule").addClass("expandedList")

    </script>
}