@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.UserListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Usuarios
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-purple text-white labeled icon button" href="@Url.Action("Create","Users")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdUsuarios">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Correo electrónico</th>
                    <th>Rol</th>
                    <th>Socio</th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    var partner = string.IsNullOrEmpty(item.Partner) ? "Socio no afiliado" : item.Partner;

                    <tr>
                        <td>@string.Concat(item.Nombre," ",item.Apellido)</td>
                        <td>@item.Email</td>
                        <td>@item.Rol</td>
                        <td>@partner</td>
                        <td>
                             <a class="ui large icon btn-edit button" href="/Users/Update?id=@item.ID">
                                 <i class="pencil alternate icon icon-crud"></i>
                                </a>
                            <a class="ui large icon btn-delete button" href="javascript: DeleteUser('@item.ID')">
                                <i class="trash alternate icon icon-crud"></i>
                            </a>
                            <a href="@Url.Action("Details","Users",new { User_Id = item.ID})" class="ui large icon button">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@section Scripts{
    <script src="~/js/UsersJs/Index.js"></script>
}
@section HighlightTile{
    <script>
        $("#AccessModule").addClass("active");
        $("#AccessModule").prop("aria-expanded");
        $("#AccessModule").attr("aria-expanded", "true");
        $("#Access_Schema").addClass("show");
        $("#AccessModule").addClass("expandedList");
        $("#UsersTile").addClass("activeTile");
    </script>
}