@model AHM_TOTAL_TRAVEL_WEB.Models.MenusListViewModel

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        .titulo {
            position: absolute;
            top: 0;
            width: 100%;
            background: rgb(238,245,249);
            background: linear-gradient(0deg, rgba(238,245,249,1) 4%, rgba(203,191,252,1) 24%, rgba(139,105,184,1) 60%, rgba(109,73,157,1) 100%);
            color: #fff;
            height: 40%;
        }

        #imagen {
            height: 230px !important;
            object-fit: cover;
        }

        #a {
            text-decoration: none;
            margin: auto;
        }

        .h1 {
            margin-top: 2% !important;
            margin-left: 2% !important;
            color: white;
        }

        .ui.search.dropdown {
            min-width: 40% !important;
        }

        .ui.cards > .card {
            margin: 1.875em 1.5em !important;
        }

        .container {
            max-width: 95%;
            margin: -5.150em 1.5em;
            top: 0;
            background-color: #f4fafd;
        }

        .ui.segment {
            margin: 5.125em 1.5em;
            max-width: 95%;
        }

        .content-inner {
            overflow: hidden;
        }
    </style>
}

<div class="titulo">
    <h1 id="tipomenutext" class="h1">TODOS</h1>
</div>
<div class="ui clearing segment">
    <div class="ui grid">
        <div class="eight wide column">
            <select id="Tipo_Menu" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">
                <option value="0" selected>Todos</option>
            </select>
        </div>
        <div class="eight wide column">
            <a class="ui small btn-edit text-white labeled icon button" id="agregar" style="float:right">
                <i class="plus icon"></i> Agregar menú
            </a>
        </div>
    </div>
    <br />
</div>
<div class="container card">
    <div class="ui cards centered" id="menusContainer">
    </div>
</div>

<!--MODAL CREATE-->

<div class="ui modal longer" id="modalCreate">
    <div class="header">
        Crea un Menú
    </div>
    <form id="createModuleRestaurantsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="Rest_ID" name="Rest_ID" class="desaparezco" />
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Tipo</label>
                            <select id="TiMe_ID_C" name="TiMe_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">
                                <option value="">Seleccione el tipo de menú</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Nombre</label>
                            <input type="text" id="Menu_Nombre_C" class="form-control" placeholder="Ingrese el nombre" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Descripción</label>
                            <input type="text" id="Menu_Descripcion_C" class="form-control" placeholder="Ingrese la descripción" />
                        </div>
                        <div class="required field">
                            <label class="ui label">Precio</label>
                            <div class="ui labeled input">
                                <label for="amount" class="ui label">L</label>
                                <input type="number" id="Menu_Precio_C" step="0.01" min="1" class="form-control" placeholder="Ingrese el precio" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="ui label">Imagen</label>
                        <input type="file" id="Imagen_C" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="createMenus()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

<!--MODAL UPDATE-->

<div class="ui modal longer" id="modalUpdate">
    <div class="header">
        Actualiza un Menú
    </div>
    <form asp-action="Update" asp-controller="ModuleRestaurants" id="updateModuleRestaurantsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="Menu_ID" name="Menu_ID" class="desaparezco" />
                <input id="Rest_ID" name="Rest_ID" class="desaparezco" />
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Tipo</label>
                            <select id="TiMe_ID" name="TiMe_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">
                                <option value="">Seleccione el tipo de menú</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Nombre</label>
                            <input type="text" id="Menu_Nombre" class="form-control" placeholder="Ingrese el nombre" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Descripción</label>
                            <input type="text" id="Menu_Descripcion" class="form-control" placeholder="Ingrese la descripción" />
                        </div>
                        <div class="required field">
                            <label class="ui label">Precio</label>
                            <div class="ui labeled input">
                                <label for="amount" class="ui label">L</label>
                                <input type="number" id="Menu_Precio" step="0.01" min="1" class="form-control" placeholder="Ingrese el precio" />
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label class="ui label">Imagen</label>
                        <input type="file" id="Imagen" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="updateMenus()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

<br />
<br />

@section Scripts{

    <script>

        const RestauranteID = "@ViewData["restauranteID"]";
    </script>

    <script src="~/js/ModuleRestaurantsJs/Menus.js"></script>
    <script src="~/js/ModuleRestaurantsJs/Update.js"></script>
    <script src="~/js/ModuleRestaurantsJs/Create.js"></script>

    <script>

        $('.desaparezco').hide();

        //$('select.dropdown')
        //    .dropdown()
        //    ;

        $('.special.card .image').dimmer({
            on: 'hover'
        });

        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }

    </script>

    <script>
        function EliminarMenu(id) {
            const capsula1 = () => {
                var response = ajaxRequest("ModuleRestaurants/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/ModuleRestaurants?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar este menú?", "Este menú se borrará permanentemente.", "warning", capsula1);
        };
    </script>
}









@*<div>
        <dl class="row">
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Restaurante)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TipoMenu)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Menu)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Image_Url)
            </dd>
        </dl>
    </div>*@
