@model AHM_TOTAL_TRAVEL_WEB.Models.RoomsPackagesListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon building"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "RoomsPackage")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="four fields">
                            <div class="field">
                                <label>ID</label>
                                @Html.DisplayFor(model => model.ID)
                            </div>
                            <div class="field">
                                <label>Paquete ID</label>
                                @Html.DisplayFor(model => model.Paquete_Id)
                            </div>
                            <div class="field">
                                <label>Hotel Nombre</label>
                                @Html.DisplayFor(model => model.Nombre_Hotel)
                            </div>
                            <div class="field">
                                <label>Hotel Descripcion</label>
                                @Html.DisplayFor(model => model.Hotel_Descripcion)
                            </div>
                        </div>
                        <div class="four fields">

                            <div class="field">
                                <label>Habitacion ID</label>
                                @Html.DisplayFor(model => model.Habitacion_Id)
                            </div>
                            <div class="field">
                                <label>Habitacion Nombre</label>
                                @Html.DisplayNameFor(model => model.Habitacion_Nombre)
                            </div>
                            <div class="field">
                                <label>Habitacion Descripcion</label>
                                @Html.DisplayFor(model => model.Habitacion_Descripcion)
                            </div>
                            <div class="field">
                                <label>Habitacion Precio</label>
                                @Html.DisplayFor(model => model.Habitacion_Precio)
                            </div>
                        </div>
                        <div class="four fields">
                            <div class="field">
                                <label>Categoria Habitacion ID</label>
                                @Html.DisplayFor(model => model.Categoria_Habitacion_Id)
                            </div>
                            <div class="field">
                                <label>Categoria Habitacion</label>
                                @Html.DisplayFor(model => model.Categoria_Habitacion)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaModifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}