@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.SuburbsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="home icon"></i>
            <div class="content">
                <div class="header">
                    Colonias
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createSuburbs" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>
        <table id="tabla" class="display ui compact selectable celled table" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            Colonia
                        </th>
                        <th>
                            Ciudad
                        </th>
                        <th width="200px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Colonia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ciudad)
                            </td>

                            <td>
                                <button class="ui large icon btn-edit button" id="UpdateBottomColo" onclick="editar(@item.ID)">
                                    <i class="pencil alternate icon icon-crud"></i>
                                </button>
                                <button class="ui large icon btn-delete button" onclick="DeleteColo(@item.ID)">
                                    <i class="trash alternate icon icon-crud"></i>
                                </button>
                                <a class="ui large icon button" href="@Url.Action("Details", "Suburbs", new { id=item.ID })">
                                    <i class="bi bi-info-circle fa-lg icon-crud"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>

    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <div class="header">
        Crea Una Colonia
    </div>
    <form asp-action="Create" asp-controller="Suburbs" id="createSuburbsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">País</label>
                            <select id="Pais_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                <option value="">Seleccione un país</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Ciudad</label>
                            <select id="Ciud_ID" name="Ciud_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="required field">
                            <label class="ui label">Colonia</label>
                            <input id="Colonia" placeholder="Ingrese una colonia" name="Colo_Descripcion" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="validar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

<div class="ui modal longer" id="modalUpdate">
    <div class="header">
        Actualiza Una Colonia
    </div>
    <form asp-action="Update" asp-controller="Suburbs" id="updateSuburbsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="Colo_ID" name="Colo_ID" style="display: none" />
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">País</label>
                            <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                <option value="">Seleccione un país</option>
                            </select>
                        </div>
                        <div class="required field">
                            <label class="ui label">Ciudad</label>
                            <select id="City_ID" name="Ciud_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="required field">
                            <label class="ui label">Colonia</label>
                            <input id="Colonia" placeholder="Ingrese una colonia" name="Colo_Descripcion" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

@section HighlightTile{
    <script>

        $("#GeneralModule").addClass("active");
        $("#GeneralModule").addClass("expandedList");
        $("#GeneralModule").prop("aria-expanded");
        $("#GeneralModule").attr("aria-expanded", "true");

        $("#General_Schema").addClass("show");

        $("#SuburbsTile").addClass("activeTile");
    </script>
}

@section Scripts{

    <script>
        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }
    </script>

    <script src="~/js/SuburbsJs/Create.js"></script>
    <script src="~/js/SuburbsJs/Update.js"></script>
    <script src="~/js/SuburbsJs/Delete.js"></script>
}