@model AHM_TOTAL_TRAVEL_WEB.Models.HotelListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bus"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles de un Hotel
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Hotel")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>ID</label>
                                @Html.DisplayFor(model => model.ID)
                            </div>
                            <div class="field">
                                <label>Hotel</label>
                                @Html.DisplayFor(model => model.Hotel)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Descripción</label>
                                @Html.DisplayFor(model => model.Descripcion)
                            </div>
                            <div class="field">
                                <label>Dirección</label>
                                Calle @Html.DisplayFor(model => model.Calle), Avenida @Html.DisplayFor(model => model.Avenida), Colonia @Html.DisplayFor(model => model.Colonia), Ciudad de @Html.DisplayFor(model => model.Ciudad)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Socio</label>
                                @Html.DisplayFor(model => model.Partners)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario modifica
                        </th>
                        <th>
                            Fecha modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UsuarioModifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FechaModifica)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#HotelModule").addClass("active");
        $("#HotelModule").addClass("expandedList");
        $("#HotelModule").prop("aria-expanded");
        $("#HotelModule").attr("aria-expanded", "true");

        $("#Hotels_Schema").addClass("show");

        $("#HotelsTile").addClass("activeTile");
    </script>
}