@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon archive"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Detalles
                    </div>

                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "DefaultPackages")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="content">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Nombre</label>
                                @Html.DisplayFor(model => model.Nombre)
                            </div>
                            <div class="field">
                                <label>Descripción</label>
                                @Html.DisplayFor(model => model.Descripcion_Paquete)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Duración</label>
                                @Html.DisplayFor(model => model.Duracion_Paquete)
                            </div>
                            <div class="field">
                                <label>Precio</label>
                                L. @Html.DisplayFor(model => model.precio)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Hotel</label>
                                @Html.DisplayFor(model => model.Hotel)
                            </div>
                            <div class="field">
                                <label>Restaurante</label>
                                @Html.DisplayFor(model => model.Restaurante)
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Cantidad de Personas</label>
                                @Html.DisplayFor(model => model.Cantidad_de_personas)
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid three column stackable mt-4">

                <div class="column">
                    <label class="ui label">Imagenes en fila.</label>
                    <div class="ui segment">
                        <div class="ui middle aligned divided list" id="image-upload-list">

                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">


                        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="DefaultpackageCarousel" data-auto="false">
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <h3 class="ui horizontal divider header">
                <i class="folder open icon"></i>
                Auditoría
            </h3>

            <table class="ui compact selectable celled table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            Usuario Creación
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Usuario Modifica
                        </th>
                        <th>
                            Fecha Modifica
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Usuario_Modifica)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Fecha_Modifcia)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        var PackageFolder = '@ViewData["PackageFolder"]';
    </script>
    <script src="~/js/DefaultPackaguesJS/Details.js"></script>
}
@section HighlightTile{
    <script>
        $("#SalesModule").addClass("active");
        $("#SalesModule").addClass("expandedList");
        $("#SalesModule").prop("aria-expanded");
        $("#SalesModule").attr("aria-expanded", "true");
        $("#Sale_Schema").addClass("show");

        $("#SalesTile").addClass("activeTile");
    </script>
}
