@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon archive"></i>
            <div class="content">
                <div class="header">
                    Paquetes Predeterminados
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" href="@Url.Action("Create","DefaultPackages")">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table id="grdDefaultPackages" class="display ui compact selectable celled table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Duración
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hotel)
                    </th>
                    <th>
                        Restaurante
                    </th>
                    <th width="200px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    var Restau = "";
                    if (String.IsNullOrEmpty(item.Restaurante))
                    {
                        Restau = "Sin Restaurante";
                    }
                    else
                    {
                        Restau = item.Restaurante;
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion_Paquete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duracion_Paquete)
                        </td>
                        <td>
                            L @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotel)
                        </td>
                        <td>
                            @Restau
                        </td>

                        <td>
                            <a class="ui large icon btn-edit button" href="@Url.Action("Update","DefaultPackages", new { id=item.Id })">
                                <i class="pencil alternate icon icon-crud"></i>
                            </a>
                            <button class="ui large icon btn-delete button" onclick="DeleteDefaultPackage(@item.Id)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details","DefaultPackages", new { id=item.Id })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>
    </div>
    <br>

    @section Scripts{
        <script>
            const params = new URLSearchParams(window.location.search);
            const izziSuccess = params.get("success");

            if (izziSuccess == "true") {
                iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
            }
            // ----------------------------------- EVENTS ------------------------------------
            $(document).ready(function () {

                var table = $("#grdDefaultPackages").DataTable({
                    stateSave: true,
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    },
                    //Aqui se ingresa el numero de columnas que tiene la tabla
                    columns: [
                        {},
                        {},
                        {},
                        {},
                        {},
                        {},
                        {}
                    ],
                    order: [[1, 'asc']],
                    dom: 'Bfrtip',

                    //Son los botones de acciones para exportar
                    buttons: [
                        {
                            extend: 'pdfHtml5',
                            text: '<i class= "file pdf icon"></i> Exportar como PDF',
                            className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6]
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="file excel icon"></i> Exportar a excel',
                            className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6]
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="file csv icon"></i> Exportar como CSV',
                            className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                        },
                    ]
                });
            });
        </script>
        <script src="~/js/DefaultPackaguesJS/Delete.js"></script>


    }
</div>
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}