@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon archive"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar Paquete Predeterminado
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "DefaultPackages")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
           <form asp-action="Update" asp-controller="DefaultPackages" id="frmUpdateDefaultPackagues">

                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="required field" hidden>
                            <label>ID</label>
                            <input id="paquID" class="form-control" />
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Nombre</label>
                                    <input id="Nombre" value="@Model.paqu_Nombre" placeholder="Nombre del paquete" class="form-control" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Descripción</label>
                                    <input id="Descripcion" value="@Model.paqu_Descripcion" placeholder="Descripción del paquete" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <div class="ui right labeled input">
                                        <input type="number" min="1" value="@Model.paqu_Precio" oninput="this.value = Math.abs(this.value)" placeholder="Precio del paquete" id="Precio">
                                        <div class="ui basic label">.00</div>
                                    </div>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Duración</label>
                                    <input id="Duracion" value="@Model.paqu_Duracion" type="number" min="1" placeholder="Duración del paquete" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Cantidad de Personas</label>
                                    <input id="CantPers" value="@Model.paqu_CantPersonas" placeholder="Cantidad de personas para el paquete" type="number" min="1" class="form-control" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Hotel</label>
                                    <select id="hote_ID" class="ui dropdown search" asp-items="ViewBag.hote_ID">
                                        <option value="">Seleccione un hotel</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">¿Desea agregar restaurante?</label>
                                    <div class="field">
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" id="checkResta" tabindex="0" class="hidden" checked>
                                            <label>Si</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Habitacion</label>
                                    <select id="Habi_ID" class="ui dropdown search">
                                        <option value="">Seleccione una habitacion</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field" id="restau" hidden>
                                    <label class="ui label">Restaurante</label>
                                    <select id="rest_ID" class="ui dropdown search" asp-items="ViewBag.rest_ID">
                                        <option value="0" selected="selected">Seleccione un restaurante</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <label class="ui label">Imágenes en fila.</label>
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imágenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <label for="File" class="ui btn-edit text-light button">
                                        Añade una imagen
                                    </label>
                                </div>

                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">


                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="DefaultPackageCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="two fields">
                            <!--Add extra activities of the Hotel-->
                            <div class="field">
                                <div class="ui toggle button" id="btnShowExtraHotelActivities">+ Añadir actividades del hotel</div>
                            </div>
                        </div>
                        <div id="frmAddExtraHotelsActivities" style="margin-bottom:20px">
                            <div class="ui segment">
                                <h3 class="ui block header">
                                    Selecciona algunas actividades para realizar en el hotel
                                </h3>
                                <div class="ui btn-edit text-white button" tabindex="0" id="btnHotelExtraActivities" style="margin: 10px 0px">+ Añadir una actividad</div>
                                <div class="ui form " id="listHotelsExtraActivities">

                                </div>

                            </div>
                            <br>
                        </div>

                        <span class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Guardar" onclick="updateDefaultPackages()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "DefaultPackages")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{   
    <script>
        var PackageFolder = '@ViewData["PackageFolder"]';
        var PaqueteID = '@ViewData["ID"]';

       
        if ($("#rest_ID").val() == 0) {
            $("#restau").hide();
            $("#checkResta").removeAttr("checked");
        }
        else {
            $("#restau").removeAttr('hidden');
            $("#restau").show();
        }

        $("#checkResta").change(function () {
            if ($("#checkResta").prop("checked") == true) {
                $("#restau").removeAttr('hidden');
                $("#restau").show();
            }
            else {
                $("#restau").hide();
                SetDropDownValue($("#rest_ID"), "0");
            }
        });

    </script>
    <script src="~/js/DefaultPackaguesJS/Update.js"></script>
    <script src="~/js/DefaultPackaguesJS/Validaciones.js"></script>
}

@section HighlightTile{
    <script>

        $("#SalesModule").addClass("active");
        $("#SalesModule").addClass("expandedList");
        $("#SalesModule").prop("aria-expanded");
        $("#SalesModule").attr("aria-expanded", "true");

        $("#Sale_Schema").addClass("show");

        $("#DefaultPackagesTile").addClass("activeTile");
    </script>
}
