@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
<link rel="stylesheet" href="~/assets/client/css/style.css">
<div id="site-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-7 wow fadeInLeft">
                    <h2 class="section-title">@Html.DisplayFor(model => model.Nombre)</h2>
                    <figure>
                        <img src="@Html.DisplayFor(model => model.Image_URL)" alt="">
                    </figure>

                    <p>@Html.DisplayFor(model => model.Descripcion_Paquete)</p>
                    <hr>
                    <p>@Html.DisplayFor(model => model.Duracion_Paquete) días y @ViewData["noches"] noches</p>
                    <hr>
                    <p>L. @Html.DisplayFor(model => model.precio)</p>



                </div>
                <div class="col-md-4 col-md-push-1 wow fadeInRight">
                    <h2 class="section-title">Actividades</h2>
                    <hr>
                    <ol class="circle-list" id="actividades">
                    </ol>



                </div>
            </div>
        </div>

    </div>

    <div class="fullwidth-block" data-bg-color="#f1f1f1">
        <div class="container">

            <div class="row">
                <div class="col-md-4 wow fadeInUp">
                    <h2 class="section-title">Hotel</h2>
                    <figure class="team-image" id="imagenh">

                    </figure>
                    <p>@Html.DisplayFor(model => model.Hotel)</p>
                    <p>@Html.DisplayFor(model => model.Descripcion_Hotel)</p>

                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                    <h2 class="section-title">Restaurante</h2>
                    <figure class="team-image">
                        <img src="~/assets/dummy/figure-1.jpg" alt="">
                    </figure>
                    <p>@Html.DisplayFor(model => model.Restaurante)</p>
                    <p>Descripcion Restaurante</p>

                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".4s">
                    <a class="boxed-link" href="@Url.Action("Compra", "BuyDefaults", new { id=Model.Id })">Hacer Reserva</a>

                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts
{
    <script>
        var idpaquete = "@Html.DisplayFor(model => model.Id)";
        var hotelimg = "@Html.DisplayFor(model => model.ID_Hotel)";
        var restimg = "@Html.DisplayFor(model => model.ID_Restaurante)";
    </script>
    <script src="~/assets/client/js/min/plugins-min.js"></script>
    <script src="~/assets/client/js/min/app-min.js"></script>

    <script src="~/js/BuyDefaults/Create.js"></script>

}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}