@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel>

@{
    ViewData["Title"] = "Index";


}

<!-- Loading third party fonts -->
<!-- Loading main css file -->
<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
<link rel="stylesheet" href="~/assets/client/css/style.css">

<style>
    .carta {
    }

        .carta:hover {
            background-color: #F8E8FF;
        }

    .bot {
        background-color: transparent;
        border-color: transparent;
        color: #19bdce;
        text-decoration: none;
    }

    .in {
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
        color: #818c8d;
    }
</style>


<div class="content">
    <div class="fullwidth-block">
        <div class="container">

            <div class="filterable-items">
                @foreach (var item in Model)
                {

                    <div class="filterable-item south-america ">
                        <article class="offer-item">
                            <figure class="featured-image">
                                <img src="~/assets/dummy/offer-thumbnail-1.jpg" alt="">
                            </figure>
                            <h2 class="entry-title"><a href="#">@Html.DisplayFor(modelItem => item.Nombre)</a></h2>

                            <p>@Html.DisplayFor(modelItem => item.Descripcion_Paquete)</p>
                            <div class="price">
                                <strong>@Html.DisplayFor(modelItem => item.precio) LPS</strong>
                                <small>/<a class="bot" href="@Url.Action("Details","BuyDefaults", new { id=item.Id })">Ver detalles</a></small>

                            </div>
                        </article>
                    </div>

                }
            </div>

            <div class="pagination wow fadeInUp">
                <span class="page-numbers current">1</span>
                <a href="#" class="page-numbers">2</a>
                <a href="#" class="page-numbers">3</a>
                <a href="#" class="page-numbers">4</a>
            </div>

        </div>

    </div>
</div>
<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Detalles
    </div>
    <form asp-action="Update" asp-controller="HotelsMenu" id="updateForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="ID" style="display:none" />
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Nombre</h2>
                        <label class="in" id="Nombre" name="Nombre" placeholder="Nombre"></label>
                    </div>
                    <div class="field">
                        <h2 class="entry-title">Descripcion</h2>
                        <label class="in" id="Descripcion" name="Descripcion" placeholder="Descripcion"></label>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Duracion</h2>
                        <label class="in" id="Duracion" name="Duracion" placeholder="Duracion"></label>

                    </div>
                    <div class="field">
                        <h2 class="entry-title">Hotel</h2>
                        <label class="in" id="Hotel" name="Hotel" placeholder="Hotel"></label>

                    </div>

                </div>
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Restaurante</h2>
                        <label class="in" id="Restaurante" name="Restaurante" placeholder="Restaurante"></label>

                    </div>
                    <div class="field">
                        <h2 class="entry-title">Precio</h2>
                        <label class="in" id="Precio" name="Precio" placeholder="Precio"></label>

                    </div>

                </div>

            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeMenu">Cerrar</button>

        @*<a class="ui button" id="sendMenu"   href="@Url.Action("Details","DefaultPackages", new { id=item.Id })>Hacer Reserva</a>*@
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/client/js/jquery-1.11.1.min.js"></script>*@
    <script src="~/assets/client/js/min/plugins-min.js"></script>
    <script src="~/assets/client/js/min/app-min.js"></script>
    <script src="~/js/BuyDefaults/Create.js"></script>
    <script>

        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }

    </script>
}
