@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Loading third party fonts -->
<!-- Loading main css file -->
<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
<link rel="stylesheet" href="~/assets/client/css/style.css">

<style>
    .carta {
    }

        .carta:hover {
            background-color: #F8E8FF;
        }

    .bot {
        background-color: transparent;
        border-color: transparent;
        color: #19bdce;
    }
</style>


<div class="content">
    <div class="fullwidth-block">
        <div class="container">

            <div class="filterable-items">
                @foreach (var item in Model)
                {

                    <div class="filterable-item south-america ">
                        <article class="offer-item">
                            <figure class="featured-image">
                                <img src="~/assets/dummy/offer-thumbnail-1.jpg" alt="">
                            </figure>
                            <h2 class="entry-title"><a href="#">@Html.DisplayFor(modelItem => item.Nombre)</a></h2>
                            <p>@Html.DisplayFor(modelItem => item.Id)</p>
                            <p>@Html.DisplayFor(modelItem => item.Descripcion_Paquete)</p>
                            <div class="price">
                                <strong>@Html.DisplayFor(modelItem => item.precio) LPS</strong>
                                <small>/<button class="bot" id="DetailsBottom" onclick="editar(@item.Id)">Ver detalles</button></small>

                            </div>
                        </article>
                    </div>

                }
            </div>

            <div class="pagination wow fadeInUp">
                <span class="page-numbers current">1</span>
                <a href="#" class="page-numbers">2</a>
                <a href="#" class="page-numbers">3</a>
                <a href="#" class="page-numbers">4</a>
            </div>

        </div>

    </div>
</div>
<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Detalles
    </div>
    <form asp-action="Update" asp-controller="HotelsMenu" id="updateForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input id="id" style="display:none" />
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Nombre</h2>
                        <input id="Nombre" name="Nombre" placeholder="Nombre" readonly/>
                    </div>
                    <div class="field">
                        <h2 class="entry-title">Descripcion</h2>
                        <p>--</p>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Duracion</h2>
                        <p>--</p>
                    </div>
                    <div class="field">
                        <h2 class="entry-title">Hotel</h2>
                        <p>--</p>
                    </div>

                </div>
                <div class="two fields">
                    <div class="field">
                        <h2 class="entry-title">Restaurante</h2>
                        <p>--</p>
                    </div>
                    <div class="field">
                        <h2 class="entry-title">Precio</h2>
                        <p>--</p>
                    </div>

                </div>

            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeMenu">Cerrar</button>
        <button class="ui button" id="sendMenu" onclick="actualizar()">Hacer Reserva</button>
    </div>
</div>

<script src="~/assets/client/js/jquery-1.11.1.min.js"></script>
<script src="~/assets/client/js/min/plugins-min.js"></script>
<script src="~/assets/client/js/min/app-min.js"></script>
<script src="~/js/BuyDefaults/Create.js"></script>

